{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    {% set attr = attr|merge({novalidate: 'novalidate'}) %}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start -%}

{%- block form_row -%}
    {{- form_label(form) -}}
    {{- form_widget(form) -}}
    {{- form_errors(form) -}}
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="errors">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block button_row -%}
    {{- form_widget(form) -}}
{%- endblock button_row -%}

{%- block button_attributes -%}
    {% if attr.id is not defined %}id="{{ id }}" {% endif %}name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif -%}
    {{ block('attributes') }}
{%- endblock button_attributes -%}

{%- block widget_attributes -%}
    {% if attr.id is not defined %}id="{{ id }}" {% endif %}name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{% block form_label -%}
    {%- if label is not same as(false) -%}
        {%- if not compound -%}
            {%- if attr.id is defined -%}
                {% set label_attr = label_attr|merge({'for': attr.id}) %}
            {%- else -%}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
        {%- endif -%}
        {%- if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- else -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' optional')|trim}) %}
        {%- endif -%}
        {%- if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label -}}
        {%- else -%}
            {{- label|trans({}, translation_domain) -}}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{% block float_widget %}
    {{- block('form_widget') -}}
    <script type="text/javascript">
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/form/float/{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.js
        $(document).ready(function() {
            $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.float').inputmask(
                'decimal',
                {
                    rightAlign: false,
                    radixPoint: '{{ decimal_separator_localized }}',
                    groupSeparator: '{{ group_separator_localized }}',
                    autoGroup: true,
                    digits: '{{ decimal_precision }}'
                }
            );
        });
    </script>
{% endblock float_widget %}

{% block price_widget %}
    {{ currency_symbol }}{{- block('float_widget') -}}
{% endblock %}

{% block percent_float_widget %}
    {{- block('form_widget') -}}
    <script type="text/javascript">
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/form/percent_float/{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.js
        $(document).ready(function() {
            $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.percent-float').inputmask(
              'Regex',
              {
                  regex: '{{ mask_pattern | raw }}',
                  onKeyDown: function (event) {
                      if (event.keyCode == {{ key_code_to_replace }}) {
                          $(event.currentTarget).val($(event.currentTarget).val() + ',');
                      }
                  }
              }
            );
        });
    </script>
{% endblock percent_float_widget %}

{% block date_picker_widget %}
    {{- block('date_widget') -}}
    <script type="text/javascript">
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/form/date_picker/{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.js
        $(document).ready(function() {
            $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}').datepicker($.extend(
              {},
              {{ date_picker_options | json_encode | raw }},
              {
                  onSelect: function (dateText) {
                      $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}').val(dateText);
                      $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}').trigger('datepickerOnSelect');
                  },
                  onClose: function (dateText) {
                      $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}').attr('value', dateText)
                      $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}').trigger('change');
                  }
              }
            ));
        });
    </script>
{% endblock date_picker_widget %}

{% block time_picker_widget %}
    {{- block('time_widget') -}}
    <script type="text/javascript">
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/form/time_picker/{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.js
        $(document).ready(function() {
            $('input#{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}').timepicker($.extend(
              {},
              {{ time_picker_options | json_encode | raw }}
            ));
        });
    </script>
{% endblock time_picker_widget %}

{% block cards_choice_widget %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% for group_label, choice in choices %}
            <option value="{{ choice.value }}"
                {% if choice.attr %}{% with { attr: choice.attr } %}{{ block('attributes') }}{% endwith %}{% endif %}
                {% if choice is selectedchoice(value) %} selected="selected"{% endif %}
                {% if choice.value in disabledCardIds %} disabled {% endif %}>
                {{- choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) -}}
            </option>
        {% endfor %}
    </select>
{% endblock cards_choice_widget %}

{% block engraved_id_widget %}
    {{- form_widget(form.part1) -}}
    {{- form_widget(form.part2) -}}
    {{- form_widget(form.part3) -}}
    {{- form_widget(form.part4) -}}
{% endblock engraved_id_widget %}