{%- block invoice_customer_row -%}
    <ul class="horizontalforms" id="customer-invoice-form">
        {{ form_row(form.customerId) }}
        {{ form_row(form.customerType) }}
        <li><strong>{{ 'common.form.customer-details.title.invoice-details' | trans }}</strong></li>
        <li>{{ form_row(form.deliveryMethod) }}</li>
        <li>{{ form_row(form.otherInvoiceData) }}</li>
        <li v-show="isDisabled && currentCustomer.customer_id"><label>&nbsp;</label><a href="#" @click.prevent="() => disabled = false">{{ 'common.form.customer-details.change-data' | trans }}</a></li>
        <li v-show="isDisabled && currentCustomer.other_invoice_data">
            <label>&nbsp;</label>
            {{ 'common.form.customer-details.new-customer' | trans }}: <a href="#" @click.prevent="newCustomer('C')">{{ 'common.form.customer-details.business' | trans }}</a> | <a href="#" @click.prevent="newCustomer('P')">{{ 'common.form.customer-details.private' | trans }}</a>
        </li>
        <li v-show="isNewCustomer"><label>&nbsp;</label><a href="#" @click.prevent="existingCustomer">{{ 'common.form.customer-details.existing-customer' | trans }}</a></li>
        <li v-show="currentCustomer.other_invoice_data && !isNewCustomer">{{ form_row(form.customerSearch) }}</li>
        <li v-show="isCustomerTypeCommercial">
            <label>{{ 'customer-service.card.data.card_type' | trans }}</label>
            {{ ('form.customer-service.field.type.option.commercial') | trans }}
        </li>
        <li v-show="isCustomerTypePrivate">
            <label>{{ 'customer-service.card.data.card_type' | trans }}</label>
            {{ ('form.customer-service.field.type.option.private') | trans }}
        </li>
        <li v-show="isCustomerTypeCommercial">{{ form_row(form.organisationName) }}</li>
        <li v-show="isCustomerTypeCommercial">{{ form_row(form.department) }}</li>
        <li>{{ form_row(form.firstName) }}</li>
        <li>{{ form_row(form.surnamePrefix) }}</li>
        <li>{{ form_row(form.surname) }}</li>
        <li>{{ form_row(form.gender) }}</li>
        <li>{{ form_row(form.emailAddress) }}</li>
        <li>{{ form_row(form.accountNumber) }}</li>
        <li><strong>{{ 'customer-service.customer.address.form.title' | trans }}</strong></li>
        <li v-show="isCustomerTypeCommercial">{{ form_row(form.primaryAddressSameAs) }}</li>
        <li v-show="isCustomerTypeCommercial">{{ form_row(form.postOfficeBox) }}</li>
        <li>{{ form_row(form.postcode) }}</li>
        <li>
            {{ form_label(form.houseNumber) }}
            {{ form_widget(form.houseNumber) }}
            {{ form_widget(form.houseNumberExtension) }}
            {{ form_errors(form.houseNumber) }}
            {{ form_errors(form.houseNumberExtension) }}
        </li>
        <li>{{ form_row(form.street) }}</li>
        <li>{{ form_row(form.city) }}</li>
        <li>{{ form_row(form.countryCode) }}</li>
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

      //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/form/invoice-customer/{% if attr.id is defined %}{{ attr.id }}{% else %}{{ id }}{% endif %}.js

      const addressFields = [
        'post_office_box',
        'postcode',
        'house_number',
        'house_number_extension',
        'street',
        'city',
        'country_code'
      ];

      new Vue({
        el: '#customer-invoice-form',
        delimiters: ['${', '}'],
        data: {
          currentCustomer: {{ form.vars.value | serialize('json') | raw }},
          originalCustomer: {{ originalCustomer | serialize('json') | raw }},
          disabled: true,
          lastPostcode: null,
          lastHouseNumber: null,
          lastHouseNumberExtension: null
        },
        computed: {
          isCustomerTypeCommercial: function () { return this.currentCustomer.customer_type === 'C' },
          isCustomerTypePrivate: function () { return this.currentCustomer.customer_type === 'P' },
          isDeliveryMethodEmail: function () { return this.currentCustomer.delivery_method === 'EMAIL' },
          isAddressTypeMail: function () { return this.currentCustomer.primary_address_same_as === 'mailAddress' },
          isNewCustomer: function () {
              return (this.currentCustomer.customer_id === null || this.currentCustomer.customer_id === '') &&
                this.currentCustomer.customer_type !== null
          },
          isDisabled: function () { return !this.isNewCustomer && this.disabled }
        },
        watch: {
          'currentCustomer.other_invoice_data': function (value) {
            this.disabled = true
            if (value) {
              this.clearCustomer()
              this.currentCustomer.customer_type = null
            } else {
              Object.keys(this.currentCustomer).forEach(k => this.currentCustomer[k] = this.originalCustomer[k])
            }
          },
          'currentCustomer.country_code': function () {
            this.currentCustomer.postcode = '';
            this.postcodeMask()
          },
          'currentCustomer.primary_address_same_as': function (value) {
            if (value && this.currentCustomer.customer_id) {
                axios.get('{{ path('app_proxy_invoicecustomeraddress') }}', { params: {
                  customerId: this.currentCustomer.customer_id,
                  addressType: value
                } })
                  .then(response => {
                    if (response.data.success) {
                      const address = response.data.address
                      addressFields.forEach(element => this.currentCustomer[element] = address[element])
                    }
                  })
            }
          }
        },
        methods: {
          clearCustomer: function () {
            Object.keys(this.currentCustomer).forEach(k => this.currentCustomer[k] = '')
            this.currentCustomer.other_invoice_data = true
            this.currentCustomer.country_code = 'NLD'
            this.currentCustomer.delivery_method = 'EMAIL'
          },
          newCustomer: function (customerType) {
            this.clearCustomer()
            this.disabled = false
            this.currentCustomer.customer_type = customerType
          },
          existingCustomer: function () {
            this.disabled = true
            this.currentCustomer.customer_type = null
          },
          appendError: function (element, text) {
            let ulErrorElement = document.createElement('ul')
            ulErrorElement.className = 'errors'
            let liErrorElement = document.createElement('li')
            liErrorElement.innerText = text
            ulErrorElement.appendChild(liErrorElement)
            element.appendChild(ulErrorElement)
          },
          removeError: function(element) {
            Array.prototype.forEach.call(element.getElementsByClassName('errors'), (el) => { element.removeChild(el) })
          },
          postcodeLookup: function () {
            const postcode = this.currentCustomer.postcode
            const houseNumber = this.currentCustomer.house_number
            const houseNumberExtension = this.currentCustomer.house_number_extension
            const countryCode = this.currentCustomer.country_code

            if (countryCode === 'NLD' && postcode !== '' && houseNumber !== '' &&
              (postcode !== this.lastPostcode || houseNumber !== this.lastHouseNumber || houseNumberExtension !== this.lastHouseNumberExtension)
            ) {
              this.removeError(this.$refs.houseNumber.parentNode)
              this.lastPostcode = postcode
              this.lastHouseNumber = houseNumber
              this.lastHouseNumberExtension = houseNumberExtension

              let params = {'postcode': postcode, 'houseNumber': houseNumber}
              if (houseNumberExtension) params.houseNumberExtension = houseNumberExtension

              axios.get('{{ path('app_proxy_postcode') }}', { params: params })
                .then((response) => {
                  if (response.data.success) {
                    const street = response.data.addressInfo.street
                    const city = response.data.addressInfo.city
                    let message = '{{ 'common.service.postcode.update_address_info' | trans | raw }}'
                    message = message.replace('\%\s', street);
                    message = message.replace('\%\s', city);
                    message = message.replace(/<br\/>/g, "\n");

                    if (confirm(message)) {
                      this.currentCustomer.street = street
                      this.currentCustomer.city = city
                    }
                  } else {
                    this.appendError(this.$refs.houseNumber.parentNode, response.data.error.message)
                  }
                })
                .catch(() => {
                  this.appendError(this.$refs.houseNumber.parentNode, '{{ 'common.service.postcode.could_not_execute_request' | trans }}')
                })
            }
          },
          ibanLookup: function (event) {
            this.removeError(this.$refs.iban.parentNode)
            axios.get('{{ path('app_proxy_iban') }}', { params: {string: event.target.value} })
              .then((response) => {
                if (response.data.success) this.currentCustomer.account_number = response.data.result
              })
              .catch(() => {
                this.appendError(this.$refs.iban.parentNode, '{{ 'common.service.iban.could_not_execute_request' | trans }}')
              })
          },
          ucFirst: function (event) {
            //detect backspace or del or arrow keys
            if (event.keyCode !== 8 && event.keyCode !== 46 && !(event.keyCode > 36 && event.keyCode < 41)) {
                let value = event.target.value
                value = value ? value.charAt(0).toUpperCase() + value.slice(1) : value
                event.target.value = value
            }
          },
          initials: function (event) {
            //detect backspace or del or arrow keys
            if (event.keyCode !== 8 && event.keyCode !== 46 && !(event.keyCode > 36 && event.keyCode < 41)) {
              let initials = event.target.value

              // Prep initials
              initials = initials.replace(/\./g, '').toLowerCase()

              // Make array of initials, 'Th' is counted as one initial
              let initialsArray = initials.match(/(th|[a-z])/g)

              if (initialsArray != null) {
                // Max 4 initialsArray
                if (initialsArray.length > 4) {
                  initialsArray = initialsArray.slice(0, 4)
                }
                // Make initialsArray uppercase, in case of "Th" only the first char
                for (const [index, value] of initialsArray.entries()) {
                  initialsArray[index] = value.substring(0, 1).toUpperCase() + value.substring(1)
                }

                // Place dots between the initials
                initials = initialsArray.join('.') + '.'
              }

              event.target.value = initials
            }
          },
          postcodeMask: function () {
            let mask = ''
            switch(this.currentCustomer.country_code) {
              case 'DEU':
                mask = '99999'
                break
              case 'BEL':
                mask = '9999'
                break
              case 'NED':
              default:
                mask = '9999AA'
            }

            jQuery(this.$refs.postcode).inputmask(mask, {
              onKeyDown: (event) => { this.currentCustomer.postcode = event.target.value }
            })
          },
          customerSearch: function () {
            jQuery(this.$refs.customerSearch).autocomplete({
              source: '{{ path('app_proxy_invoicecustomersearch') }}',
              minLength: 2,
              select: (event, ui) => {
                Object.keys(this.currentCustomer).forEach(k => this.currentCustomer[k] = ui.item.customer[k])
              }
            })
          }
        },
        mounted: function () {
          this.postcodeMask()
          this.customerSearch()
        }
      })
    </script>
{%- endblock invoice_customer_row -%}