{% extends 'base.html.twig' %}

{%  block body %}
<section class="dashboard">
    <div class="row">
        <div class="col-6">
            <article>
                <header>
                    <h2>{{ 'customer-service.index.widget.title' | trans }}</h2>
                </header>
                <div class="inner">
                    <p>{{ 'administration.index.text-1' | trans }} <br> {{ 'administration.index.text-2' | trans }}</p>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock body %}