{% extends 'layout-datatable.html.twig' %}

{% block deleteConfirmationDialogTitle %}{{ 'administration.price.delete.dialog.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogBody %}{{ 'administration.price.delete.confirmation' | trans }}{% endblock %}

{% block datatableToolbarAdditionalActions %}{% endblock %}

{% block body %}

    <section>
        <div class="row">
            <article>
                <header>
                    <h1>
                        {% block datatableTitle %}{{ 'administration.price.search-results.title' | trans }}{% endblock %}
                    </h1>
                </header>
                <div class="tabs">
                    <ul>
                        <li><a href="#index" title="Prices">{{ 'administration.price.datatable.title' | trans }}</a>
                        </li>
                        <li><a href='#priceImports'
                               title="Imports">{{ 'administration.price.import.datatable.title' | trans }}</a></li>
                    </ul>
                    <div id="index">
                        <div class="inner">
                            {% include 'datatable/toolbar.html.twig' with {
                                datatableToolbarAdditionalActions: block('datatableToolbarAdditionalActions')
                            } %}
                            {% include 'datatable/table.html.twig' %}
                            {% include 'datatable/delete-confirm-dialog.html.twig' with {
                                deleteConfirmationDialogTitle: block('deleteConfirmationDialogTitle'),
                                deleteConfirmationDialogBody: block('deleteConfirmationDialogBody')
                            } %}
                        </div>
                    </div>
                    <div id="priceImports">
                        <div class="row">
                            <ul class="horizontalforms">
                                {{ form_start(importForm) }}
                                {{ form_row(importForm._token) }}
                                <li style="text-decoration: underline;">
                                    <a href="#"
                                       onclick="window.location.href='{{ path('app_administration_price_example') }}'">{{ 'administration.import.form.example-file' | trans }}</a>
                                </li>
                                <li>
                                    <fieldset>
                                        <div class="col-8 center">
                                            <ul class="horizontalforms">
                                                <li>
                                                    {{ form_row(importForm.file) }}
                                                </li>
                                            </ul>
                                            <ul class="errors">
                                                {% for error in errors %}
                                                    <li>{{ error.message | trans({'%row%': error.row}) }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </fieldset>
                                </li>
                                <li>
                                    <button type="submit" class="confirmation">
                                        {{ 'administration.price.import.dialog.title' | trans }}
                                    </button>
                                </li>
                                {{ form_end(importForm) }}
                            </ul>
                            <div class="inner">
                                {% include 'datatable/toolbar.html.twig' with {
                                    datatableToolbarAdditionalActions: block('datatableToolbarAdditionalActions')
                                } %}
                                {% include 'datatable/table.html.twig' with {'datatable': importDatatable} %}
                                {% include 'datatable/delete-confirm-dialog.html.twig' with {
                                    deleteConfirmationDialogTitle: block('deleteConfirmationDialogTitle'),
                                    deleteConfirmationDialogBody: block('deleteConfirmationDialogBody')
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock body %}

{% block javascripts %}
    {{ sg_datatables_render_js(importDatatable) }}
    {{ parent() }}

    <script>
    $(document).ready(function() {
        $('.tabs').on( "tabsactivate", function( event, ui ) {
            $('#sg-datatables-{{ importDatatable.name }}').dataTable().fnDraw();
        } );
    });
    </script>
{% endblock %}