{% extends 'base.html.twig' %}

{% block body %}
    <section class="nobg">
        <div class="row">
            <div class="col-5">&nbsp;</div>
            <div class="col-6">
                <article>
                    <header>
                        <h1>{{ 'common.authentication.index.title' | trans }}</h1>
                    </header>
                    <div class="inner">
                        {{ form_start(form) }}
                            {{ form_row(form._csrf_token) }}
                            <fieldset>
                                <ul class="horizontalforms">
                                    <li>{{ form_row(form._username) }}</li>
                                    <li>{{ form_row(form._password) }}</li>
                                    <li>
                                        <label>&nbsp</label>
                                        <div>
                                            <div><a href="/nl/authentication/request-password-reset/back/1">{{ 'common.authentication.login.forgot-password' | trans }}</a></div>
                                            <div><a href="/nl/authentication/change-password/back/1">{{ 'common.authentication.login.change-password' | trans }}</a></div>
                                        </div>
                                    </li>
                                    <li>{{ form_row(form._locale) }}</li>
                                </ul>
                            </fieldset>
                            <fieldset class="actions">
                                <ul class="inlineforms">
                                    <li>{{ form_row(form.login, {'attr': {'class': 'confirmation'}}) }}</li>
                                </ul>
                            </fieldset>
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </article>
            </div>
            <div class="col-5">&nbsp;</div>
        </div>
    </section>
{% endblock %}