{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.customergroup.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/webshop_region/form.html.twig') }}
{% endblock %}
