{% block formContent %}
    <div id="webshopRegionFormContainer">
        {{ form_start(webshopRegionForm) }}
        {{ form_row(webshopRegionForm._token) }}
        <fieldset>
            <div class="col-8 center">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(webshopRegionForm.name) }}
                    </li>
                    <li>
                        {{ form_row(webshopRegionForm.externalId) }}
                    </li>
                    <li>
                        {{ form_row(webshopRegionForm.externalName) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_webshopregion_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.webshop-region.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(webshopRegionForm) }}
    </div>
{% endblock %}