{% extends '@SgDatatables/filter/daterange.html.twig' %}

{% block javascript %}
    <script type="text/javascript">
        moment.locale("{{ app.request.locale }}");
        $("#{{ filter_id_selector }}").datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            closeText: 'Verwijderen',
            onSelect: function () {
                $(this).keyup()
                $(this).blur()
            }
        }).focus(function() {
          $('.ui-datepicker-close').click(function() {
            $("#{{ filter_id_selector }}").val('')
            $("#{{ filter_id_selector }}").keyup()
          })
        })
    </script>
{% endblock %}