{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.vat-rate.add.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/vat_rate/form.html.twig') }}
{% endblock %}
