{% block formContent %}
    <div id="vatRateFormContainer">
        {{ form_start(vatRateForm) }}
        {{ form_row(vatRateForm._token) }}
        <fieldset>
            <div class="col-8">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(vatRateForm.name) }}
                    </li>
                    <li>
                        {{ form_row(vatRateForm.code) }}
                    </li>
                    <li>
                        {{ form_row(vatRateForm.percentage) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_vatrate_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.vat-rate.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(vatRateForm) }}
    </div>
{% endblock %}
