{% extends 'layout-datatable.html.twig' %}

{% block datatableTitle %}{{ 'administration.vat-rate.search-results.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogTitle %}{{ 'administration.vat-rate.delete.dialog.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogBody %}{{ 'administration.vat-rate.delete.confirmation' | trans }}{% endblock %}