{% block formContent %}
    <div id="propositionTypeFormContainer">
        {{ form_start(propositionTypeForm) }}
        {{ form_row(propositionTypeForm._token) }}
        <fieldset>
            <div class="col-8">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(propositionTypeForm.name) }}
                    </li>
                    <li>
                        {{ form_row(propositionTypeForm.order) }}
                    </li>
                    <li>
                        {{ form_row(propositionTypeForm.description) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_propositiontype_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.proposition-type.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(propositionTypeForm) }}
    </div>
{% endblock %}
