{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.proposition.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/proposition/form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      function sortByName(element1, element2) {
        return element1.name.localeCompare(element2.name);
      }

        const allCustomerGroups = {{ allCustomerGroups | serialize('json') | raw }};
        const selectedCustomerGroups = {{ selectedCustomerGroups | serialize('json') | raw }};

        const allPropositionElements = {{ allPropositionElements | serialize('json') | raw }};
        const allPropositionElementsMultiselectOptions = allPropositionElements
          .map(entity => ({ id: entity.id, name: entity.description}))
          .sort(sortByName)

        const selectedPropositionElements = {{ selectedPropositionElements | serialize('json') | raw }};
        const selectedPropositionElementsMultiselectOptions = selectedPropositionElements
          .map(entity => ({ id: entity.id, name: entity.description}))
          .sort(sortByName)

        new Vue({ el: '#two-side-multiselect-customer-groups' });
        new Vue({ el: '#two-side-multiselect-proposition-elements' });

    </script>
{% endblock %}