{% block formContent %}
    <div id="propositionFormContainer">
        {{ form_start(propositionForm) }}
        {{ form_row(propositionForm._token) }}
        <div class="col-8">
            <fieldset>
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(propositionForm.name) }}
                    </li>
                    <li>
                        {{ form_row(propositionForm.propositionGroup) }}
                    </li>
                    <li>
                        {{ form_row(propositionForm.validityPeriod) }}
                    </li>
                    <li>
                        {{ form_row(propositionForm.salePeriod) }}
                    </li>
                    <li>
                        {{ form_row(propositionForm.propositionTerm) }}
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="row">
            <fieldset>
                <div class="col-8 center">
                    <ul class="horizontalforms">
                        <li>
                            {{ form_label(propositionForm.customerGroups) }}
                        </li>
                        <li>
                            {{ form_errors(propositionForm.customerGroups) }}
                        </li>
                    </ul>
                </div>
            <div id="two-side-multiselect-customer-groups">
                <two-side-multiselect
                        :initial-options-available="allCustomerGroups"
                        :initial-options-selected="selectedCustomerGroups"
                        left-label="{{ 'form.administration.proposition.field.customer-groups.left-label' | trans | raw }}"
                        right-label="{{ 'form.administration.proposition.field.customer-groups.right-label' | trans | raw }}"
                        field="customerGroups"
                        object="proposition"
                ></two-side-multiselect>
            </div>
            </fieldset>
            {{ form_widget(propositionForm.customerGroups) }}
        </div>
        <div class="row">
            <fieldset>
                <div class="col-8 center">
                    <ul class="horizontalforms">
                        <li>
                            {{ form_label(propositionForm.propositionElements) }}
                        </li>
                        <li>
                            {{ form_errors(propositionForm.propositionElements) }}
                        </li>
                    </ul>
                </div>
            <div id="two-side-multiselect-proposition-elements">
                <two-side-multiselect
                        :initial-options-available="allPropositionElementsMultiselectOptions"
                        :initial-options-selected="selectedPropositionElementsMultiselectOptions"
                        left-label="{{ 'form.administration.proposition.field.proposition-elements.left-label' | trans | raw }}"
                        right-label="{{ 'form.administration.proposition.field.proposition-elements.right-label' | trans | raw }}"
                        search="left"
                        field="propositionElements"
                        object="proposition"
                ></two-side-multiselect>
            </div>
            </fieldset>
            {{ form_widget(propositionForm.propositionElements) }}
        </div>
        <div>
            <fieldset>
                <ul class="horizontalforms">
                    <li class="col-8">
                        {{ form_row(propositionForm.tAccount) }}
                    </li>
                    <li class="col-8">
                        {{ form_row(propositionForm.paymentByInstallmentsAllowed) }}
                    </li>
                    <li class="col-16">
                        <div class="col-8">
                            {{ form_label(propositionForm.refundPeriod) }}
                            {{ form_widget(propositionForm.refundPeriod) }}
                            <div class="col-4">
                                {{ form_widget(propositionForm.refundPeriodValue) }}
                            </div>
                        </div>
                        <div id="proposition_refundPeriod">
                            <div class="col-2">
                                <div class="col-2">
                                    {% if propositionForm.refundPeriod.vars.value is same as('month') %}
                                        <input type="radio" id="proposition_refundPeriod_1"
                                               name="proposition[refundPeriod]"
                                               value="month" checked="checked">
                                    {% else %}
                                        <input type="radio" id="proposition_refundPeriod_1"
                                               name="proposition[refundPeriod]"
                                               value="month">
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    <label for="proposition_refundPeriod_1">Maand/Maanden</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="col-2">
                                    {% if propositionForm.refundPeriod.vars.value is same as('year') %}
                                        <input type="radio" id="proposition_refundPeriod_0"
                                               name="proposition[refundPeriod]"
                                               value="year" checked="checked">
                                    {% else %}
                                        <input type="radio" id="proposition_refundPeriod_0"
                                               name="proposition[refundPeriod]"
                                               value="year">
                                    {% endif %}
                                </div>
                                <div class="col-2">
                                    <label for="proposition_refundPeriod_0">Jaar/Jaren</label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        {{ form_errors(propositionForm.refundPeriod) }}
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_proposition_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.proposition.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(propositionForm,{}) }}
    </div>
{% endblock %}