{% extends 'base-clean-layout.html.twig' %}

{% trans_default_domain 'customer-service' %}

{% block body %}
    <section>
        <div class="row">
            <header>
                <h3>{{ 'customer-service.datatable.card-proposition.title' | trans({'%engravedId%': card.engravedId})}}</h3>
            </header>
            <article>
                <div class="inner">
                    <div id="arriva-propositions">
                        <h4>{{ 'customer-service.datatable.arriva-card-proposition.title' | trans }}</h4>
                        {{ sg_datatables_render_html(arrivaPropositionDatatable) }}
                    </div>
                    <div id="other-operator-propositions" style="margin-top: 60px">
                        <h4>{{ 'customer-service.datatable.other-operator-card-proposition.title' | trans }}</h4>
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.pe-code' | trans }}</th>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.name' | trans }}</th>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.retailer' | trans }}</th>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.date-effective' | trans }}</th>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.expiry-date' | trans }}</th>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.sale-date' | trans }}</th>
                                    <th>{{ 'customer-service.datatable.other-operator-card-proposition.sale-amount' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for proposition in otherOperatorPropositions %}
                                    <tr>
                                        <td>{{ proposition.PECode }}</td>
                                        <td>{{ proposition.Name }}</td>
                                        <td>{{ proposition.PECode }}</td>
                                        <td>{{ proposition.EffectiveDateTime }}</td>
                                        <td>{{ proposition.ExpiryDateTime }}</td>
                                        <td>{{ proposition.SaleDateTime }}</td>
                                        <td>{{ proposition.SalesAmount|default('0') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ 'customer-service.datatable.other-operator-card-proposition.no-results' | trans }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock body %}

{% block javascripts %}
    {{ sg_datatables_render_js(arrivaPropositionDatatable) }}
    {{ parent() }}
{% endblock javascripts %}