.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.btn-primary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.glyphicon-ok {
    width: 15px;
    height: 15px;
    background-image: url("../icons/tick-green.png");
}

.glyphicon-remove {
    width: 15px;
    height: 15px;
    background-image: url("../default/static/gfx/icons/cross-script.png");
}

.multipicker input.search {
    width: 100%;
    box-sizing: border-box;
}

ul.errors li {
    color: #e50003;
    padding-left: 0;
}

ul.errors {
    background: transparent url("../default/static/gfx/forms/validation-error.png") no-repeat left top;
    color: #e50003;
}

a.action-link {
    text-decoration: underline;
}

input[type=number].sg-datatables-individual-filtering::-webkit-inner-spin-button,
input[type=number].sg-datatables-individual-filtering::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

a.action-link {
    text-decoration: underline;
}

.inline-datatable-action {
    margin-right: 5px;
}
.inline-datatable-action:last-child {
    margin-right: 0;
}
.datatable-action {
    padding-right:10px;
    margin-bottom:10px;
    display:none
}

.dataTables_wrapper {
    margin-top:10px;
}

div.paging_full_numbers {
    width: auto;
}

nav.toolbar ul li div.statistics {
    position: relative;
    float: left;
    background: #fff;
    padding: .5em;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

td.money:before {
    content: '€ ';
}
.daterangepicker.dropdown-menu {
    display: none;
}

form fieldset input[type="text"].money {
    width: 15%;
}