{% extends 'base.html.twig' %}

{% trans_default_domain 'financial' %}

{% block body %}
    <div class="ui-tabs ui-corner-all ui-widget ui-widget-content">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active">
                <a href="{{ path('app_financial_invoice_invoicing_draft_details', {'invoiceId': invoice.id}) }}">{{ 'financial.invoice.invoicing.tabs.concept-invoice' | trans | raw }}</a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="{{ path('app_financial_invoice_transaction_index', {'invoiceId': invoice.id}) }}">{{ 'financial.invoice.invoicing.tabs.transactions' | trans | raw }}</a>
            </li>
        </ul>
        <br/>
        <div style='margin-left: 10px' id="concept">
            <div class="row">
                <h1>{{ 'financial.invoice.invoicing.propositions.title' | trans | raw }}</h1>
                <div class='col-10'>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 40%">OV-chipkaart</th>
                                <th style="width: 50%">Propositie</th>
                                <th style="width: 10%">Bedrag</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set lastEngravedId = '' %}
                            {% for engravedId, groupedReceivablesByCard in subscriptionTermAndCreditReceivables %}
                                {% for receivable in groupedReceivablesByCard %}
                                    {% if receivable.subscription.propositionInstance.proposition is not null %}
                                        <tr>
                                            <td>{% if engravedId != lastEngravedId %}{{ engravedId | default('-') }}{% endif %}</td>
                                            <td>{{ receivable.subscription.propositionInstance.proposition.name | default('-') }}</td>
                                            <td style="text-align: right">{{ receivable.amount.amount.getAmount | currency }}</td>
                                        </tr>
                                        {% set lastEngravedId = engravedId %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class='row'>
                <h1>{{ 'financial.invoice.invoicing.transactions.title' | trans | raw }}</h1>
                <div class='col-10'>
                    <table>
                        <thead>
                            <tr>
                                <th style="width: 40%">OV-chipkaart</th>
                                <th style="width: 50%">Aantal ritten</th>
                                <th style="width: 10%">Bedrag</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for engravedId, receivable in transactionReceivables %}
                                <tr>
                                    <td>{{ receivable.engravedId | default('-') }}</td>
                                    <td>{{ receivable.numberOfTransactions }}</td>
                                    <td style="text-align: right">{{ receivable.amount | currency }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td width="66%" colspan="2" style="padding-top: 1cm; text-align: right"><strong>Totaal</strong></td>
                                <td width="33%" style="padding-top: 1cm; text-align: right"><strong>{{ invoice.amount.getAmount | currency }}</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <fieldset class="actions">
            <ul class="inlineforms">
                <li>
                    <a href="{{ path('app_financial_invoice_invoicing_index') }}">
                        {{ 'financial.invoice.invoicing.transactions.back_to_overview' | trans }}
                    </a>
                </li>
            </ul>
        </fieldset>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
