{% extends 'layout-datatable.html.twig' %}

{% trans_default_domain 'financial' %}

{% block datatableToolbarAdditionalActions %}
    <li style="float: right">
        <div class="statistics">{{ 'financial.invoice.invoicing.actual_delivering_statistics' | trans }}:
            <span>{{ numberOfInvoicesInDeliveringState }}</span>
        </div>
    </li>
{% endblock %}

{% block body %}
    <section>
        <div class="row">
            <article>
                <div class="inner">
                    {% include 'datatable/toolbar.html.twig' with {
                        datatableToolbarAdditionalActions: block('datatableToolbarAdditionalActions')
                    } %}
                    <h1>{{ 'financial.invoice.invoicing.title' | trans }}</h1>
                    {% include 'datatable/table.html.twig' %}
                    {% include 'datatable/delete-confirm-dialog.html.twig' with {
                        deleteConfirmationDialogTitle: block('deleteConfirmationDialogTitle'),
                        deleteConfirmationDialogBody: block('deleteConfirmationDialogBody')
                    } %}
                </div>
            </article>
        </div>
    </section>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% set datatableId = 'sg-datatables-' ~ datatable.name %}
    <script>
      function updateDatatable (table) {
        items = table.DataTable().rows({selected: true}).ids(true)
        if (items.length > 0) {
          $('.' + table.prop('id') + '-multiselect-action').show()
        } else {
          $('.' + table.prop('id') + '-multiselect-action').hide()
        }
      }

      $(document).ready(function () {
        $("#{{ datatableId }}_wrapper")
          .on('change', ':checkbox', function () {
            updateDatatable($("#{{ datatableId }}_wrapper").find('table.dt-checkboxes-select'))
          })
          .on('click', 'tr', function () {
            updateDatatable($("#{{ datatableId }}_wrapper").find('table.dt-checkboxes-select'))
          })

        $('#{{ datatableId }}-multiselect-actions').on('click', '.preview', function (event) {
          let items = $('#{{ datatableId }}').DataTable().rows({selected: true}).data().toArray().map(function (row) {
            return row.invoiceId
          })

          if (items.length > 1) {
            alert('{{ 'financial.invoice.invoicing.too_many_rows_selected' | trans }}')
          } else {
            window.location.href = Routing.generate('app_financial_invoice_invoicing_draft_details', {
              'invoiceId': items[0]
            })
          }
        })

        setInterval(function () {
          jQuery.ajax({
            url: "{{ path('app_financial_invoice_invoicing_stats') }}",
            dataType: 'json',
            beforeSend: function (jqXHR, settings) {
              settings.showLoader = false
            },
            success: function (response) {
              jQuery('.someSpinnerImage').hide()
              $('span.statistics').html(response.numberOfInvoicesInDeliveringState)
            }
          })
        }, 5000)
      })
    </script>
{% endblock %}
