function preDrawCallback(settings, json) {
    {% if resetSelection %}
        (settings.iStateDuration === -1 ? sessionStorage : localStorage).removeItem(
            'DataTables_Row_Selection_' + settings.sInstance
        );
    {% endif %}
}