{% extends 'base.html.twig' %}

{% trans_default_domain 'financial' %}

{% block datatableToolbarAdditionalActions %}
    <li style="float: left">
        <a href="javascript:;" id="toolbar_credit_transaction_button" style="display: none">
            <img src="{{ '/default/static/gfx/icons/select_all.png' }}" alt="credit icon">
            {{ 'common.elements.dialog.button.credit' | trans({}, 'messages') }}
        </a>
    </li>
    <li style="float: left;">
        <a href="javascript:;" id="toolbar_remove_transaction_button" style="display: none">
            <img src="{{ '/default/static/gfx/icons/document--arrow.png' }}" alt="remove icon">
            {{ 'common.elements.datatable.toolbar.delete' | trans({}, 'messages') }}
        </a>
    </li>
{% endblock %}

{% block body %}
    <div class="ui-tabs ui-corner-all ui-widget ui-widget-content">
        <ul class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab">
                <a href="{{ path('app_financial_invoice_invoicing_draft_details', {'invoiceId': invoice.id}) }}">{{ 'financial.invoice.invoicing.tabs.concept-invoice' | trans | raw }}</a>
            </li>
            <li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active">
                <a href="{{ path('app_financial_invoice_transaction_index', {'invoiceId': invoice.id}) }}">{{ 'financial.invoice.invoicing.tabs.transactions' | trans | raw }}</a>
            </li>
        </ul>
        <br />
        <div id="transaction">
            <section>
                <div class="row">
                    <article>
                        <div class="inner">
                            {% include 'datatable/toolbar.html.twig' with {
                            datatableToolbarAdditionalActions: block('datatableToolbarAdditionalActions')
                            } %}
                            {% include 'datatable/table.html.twig' %}
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <fieldset class="actions">
            <ul class="inlineforms">
                <li>
                    <a href="{{ path('app_financial_invoice_invoicing_index') }}">
                        {{ 'financial.invoice.invoicing.transactions.back_to_overview' | trans }}
                    </a>
                </li>
            </ul>
        </fieldset>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ sg_datatables_render_js(datatable) }}
    {% set datatablePrefix = 'sg-datatables-' ~ datatable.name %}
{% endblock %}
