{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.proposition-term.add.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/proposition_term/form.html.twig') }}
{% endblock %}