{% block formContent %}
    <div id="propositionTermFormContainer">
        {{ form_start(propositionTermForm) }}
        {{ form_row(propositionTermForm._token) }}
        <div class="col-8">
            <fieldset>
                <legend>
                    {{ 'administration.proposition-term.form.tab1.title' | trans }}
                </legend>
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(propositionTermForm.name) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.code) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.days) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.weeks) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.months) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.years) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.endDate) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.permanent) }}
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="col-8">
            <fieldset>
                <legend>
                    {{ 'administration.proposition-term.form.tab2.title' | trans }}
                </legend>
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(propositionTermForm.fromAmount) }}
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="col-8">
            <fieldset>
                <legend>
                    {{ 'administration.proposition-term.form.tab3.title' | trans }}
                </legend>
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(propositionTermForm.subscriptionReminder1) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.subscriptionReminder2) }}
                    </li>
                    <li>
                        {{ form_row(propositionTermForm.subscriptionReminder3) }}
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_propositionterm_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.proposition-term.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(propositionTermForm) }}
    </div>
{% endblock %}