{% extends 'layout-datatable.html.twig' %}

{% block datatableTitle %}{{ 'administration.proposition-term.search-results.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogTitle %}{{ 'administration.proposition-term.delete.dialog.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogBody %}{{ 'administration.proposition-term.delete.confirmation' | trans }}{% endblock %}