{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="row">
            <header>
                <h1>{{ 'administration.export.title' | trans }}</h1>
            </header>
            <div class="col-6" id="contentList">
                <article>
                    <div class="inner">
                        {{ form_start(exportForm) }}
                        <fieldset>
                            <ul class="horizontalforms">
                                {% for row in exportForm.children %}
                                    <li>
                                        {{ form_row(row) }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </fieldset>
                        {% if exportForm.vars.id is not same as('export') %}
                            <div class="row">
                                <fieldset class="actions">
                                    <ul class="inlineforms">
                                        <li>
                                            <button type="submit" class="confirmation">
                                                {{ 'form.administration.export.field.submit' | trans }}
                                            </button>
                                        </li>
                                    </ul>
                                </fieldset>
                            </div>
                        {% endif %}
                        {{ form_end(exportForm) }}
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
      const configurationTypeRow = $('#tariff_configuration_configurationType')
      const pricePeriodRow = $('#tariff_configuration_pricePeriod')

      function togglePricePeriodRow() {
        if (configurationTypeRow.get(0) && configurationTypeRow.get(0).value === 'propositions') {
          pricePeriodRow.parent().hide()
        } else {
          pricePeriodRow.parent().show()
        }
      }

      $(document).ready(function () {
        togglePricePeriodRow()

        $('.typeSelector').on('change', function () {
          window.location.href = '?type=' + this.value
        })

        configurationTypeRow.on('change', function () {
          togglePricePeriodRow()
        })
      })
    </script>
{% endblock %}