{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="row">
            <header>
                <h1>{{ 'administration.products.build-model.title' | trans }}</h1>
            </header>
            <div class="col-8" id="importInput">
                <article>
                    <div class="inner">
                        <fieldset>
                            <ul class="horizontalforms">
                                <li>
                                    <p>{{ 'administration.products.build-model.intro' | trans }}</p>
                                </li>
                            </ul>
                        </fieldset>
                        <div class="row">
                            <button type="button" id="rebuild-product-model" class="confirmation">
                                <span class="available">{{ 'administration.products.build-model.button' | trans }}</span>
                                <span class="loading inline-loader" style="display: none"></span>
                                <span class="loading"
                                      style="display: none">{{ 'administration.products.build-model.button.loading' | trans }}</span>
                            </button>
                        </div>
                        <br/>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      let buildModelStatusInterval = null

      function disableRebuildProductModelButton () {
        $('#rebuild-product-model').prop('disabled', true)
        $('#rebuild-product-model').removeClass('confirmation')
        $('#rebuild-product-model .available').hide()
        $('#rebuild-product-model .loading').show()
      }

      function enableRebuildProductModelButton () {
        $('#rebuild-product-model').prop('disabled', false)
        $('#rebuild-product-model').addClass('confirmation')
        $('#rebuild-product-model .available').show()
        $('#rebuild-product-model .loading').hide()
      }

      function startCheckBuildModelStatus () {
        disableRebuildProductModelButton()
        buildModelStatusInterval = setInterval(checkBuildModelStatus, 30000)
      }

      function checkBuildModelStatus () {
        let responseCode = getBuildModelStatus()
        if (responseCode !== 423) {
          clearInterval(buildModelStatusInterval)
          buildModelStatusInterval = null
          enableRebuildProductModelButton()
        }
      }

      function getBuildModelStatus () {
        let responseCode = 200
        $.ajax({
          url: '/nl/administration/product-model/build-model-status',
          type: 'GET',
          async: false,
          success: function (response) {
            console.log('build-model-status: ' + response)
            responseCode = response.response_code
          },
          error: function () {
            console.log('error in build-model-status')
            alert('{{ 'administration.products.build-model.error' | trans }}')
          }
        })

        return responseCode
      }

      $('#rebuild-product-model').on(
        'click',
        function () {
          $.ajax({
            url: '/nl/administration/product-model/build-model',
            type: 'GET',
            success: function (response) {
              console.log('build-model: ' + response)
              switch (response.response_code) {
                case 200:
                case 423:
                  startCheckBuildModelStatus()
                  break
                default:
                  alert('{{ 'administration.products.build-model.error' | trans }}')

              }
            },
            error: function () {
              console.log('error in build-model')
              alert('{{ 'administration.products.build-model.error' | trans }}')

            }
          })
        }
      )

      if (getBuildModelStatus() === 423) {
        startCheckBuildModelStatus()
      }
    </script>
{% endblock %}