{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.zone.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/zone/form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        const allRegions = {{ allRegions | serialize('json') | raw }};
        const selectedRegions = {{ selectedRegions | serialize('json') | raw }};

        new Vue({ el: '#two-side-multiselect-regions' })

    </script>
{% endblock %}