{% block formContent %}
    <div id="zoneFormContainer">
        {{ form_start(zoneForm) }}
        {{ form_row(zoneForm._token) }}
        <fieldset>
            <div class="col-8 center">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(zoneForm.name) }}
                    </li>
                    <li>
                        {{ form_row(zoneForm.code) }}
                    </li>
                    <li>
                        {{ form_row(zoneForm.active) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset>
                <div class="col-8 center">
                    <ul class="horizontalforms">
                        <li>
                            {{ form_label(zoneForm.regions) }}
                        </li>
                        <li>
                            {{ form_errors(zoneForm.regions) }}
                            <div id="two-side-multiselect-regions">
                                <two-side-multiselect
                                        :initial-options-available="allRegions"
                                        :initial-options-selected="selectedRegions"
                                        field="regions"
                                        object="zone"
                                ></two-side-multiselect>
                            </div>
                        </li>
                    </ul>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_zone_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.zone.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_widget(zoneForm.regions) }}
        {{ form_end(zoneForm) }}
    </div>
{% endblock %}