{% extends 'base-clean-layout.html.twig' %}

{% trans_default_domain 'customer-service' %}

{% block body %}
    <section>
        <div class="row">
            <article>
                <header>
                    <h1>{{ 'proposition' | trans | capitalize }}</h1>
                </header>
                <div class="inner">
                    <div id="customerStopPropositionSubscriptionFormContainer" class="col-8 center">
                        {{ form_start(stopPropositionSubscriptionForm) }}
                        {{ form_row(stopPropositionSubscriptionForm._token) }}
                        <fieldset>
                            <legend>{{ 'Stop the following proposition' | trans }}:</legend>
                            <div>
                                <ul class="horizontalforms">
                                    <li><label>{{ 'engraved id' | trans | capitalize }}</label>{{ subscription.propositionInstance.card.engravedId }}</li>
                                    <li><label>{{ 'proposition' | trans | capitalize }}</label>{{ subscription.propositionInstance.proposition.name }}</li>
                                    <li><label>{{ 'start date' | trans | capitalize }}</label>{{ subscription.effectiveDate }}</li>
                                    <li><label>{{ 'end date' | trans | capitalize }}</label>{{ subscription.expiryDate }}</li>
                                    <li>
                                        {{ form_row(stopPropositionSubscriptionForm.endDate) }}
                                    </li>
                                    <li>
                                        {{ form_row(stopPropositionSubscriptionForm.creditAmount) }}
                                    </li>
                                </ul>
                            </div>
                        </fieldset>
                        <div class="row">
                            <fieldset class="actions">
                                <ul class="inlineforms">
                                    <li>
                                        <button type="button"
                                                onclick="window.location.href='{{ path('app_customerservice_customer_customerpropositions', {'idmId': customer.idmId}) }}'">
                                            {{ 'cancel' | trans | capitalize }}
                                        </button>
                                    </li>
                                    <li>
                                        <button type="submit" class="confirmation">
                                            {{ 'submit' | trans | capitalize }}
                                        </button>
                                    </li>
                                </ul>
                            </fieldset>
                        </div>
                        {{ form_end(stopPropositionSubscriptionForm) }}
                    </div>
                </div>
            </article>
        </div>
    </section>

{% endblock body %}