{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'workflow.order.show.title' | trans }}{% endblock %}

{% set authEntity = customer.getAuthenticationEntityByProvider('arriva') %}

{% block formContent %}
    <div id="orderInformationContainer">
        <h2>
            {{ 'workflow.order.show.order.title' | trans }}
        </h2>
        <fieldset>
            <div class="col-12">
                <ul class="horizontalforms">
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.order-id' | trans }}</label>
                        </div>
                        <div>
                            <label>{{ order.orderNumber }}</label>
                        </div>
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.created-at' | trans }}</label>
                        </div>
                        <div>
                            <label>{{ order.createdAt|date('Y-m-d H:i')}}</label>
                        </div>
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.customer-name' | trans }}</label>
                        </div>
                        {% if authEntity is not null %}<a href='{{ assist_url }}/nl/customer-service/customer/details?idmId={{ customer.id }}' class="action-link">{% endif %}
                            {{ customer.profile.surname }}{% if customer.profile.surnamePrefix is not empty %} {{ customer.profile.surnamePrefix }}{% endif %}, {{ customer.profile.firstName }}
                        {% if authEntity is not null %}</a>{% endif %}
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.payment.payment-amount' | trans }}</label>
                        </div>
                        <div>
                            <label>{{ payment.amountPaid.serialize | default('-')}}</label>
                        </div>
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.payment.psp-reference' | trans }}</label>
                        </div>
                        <div>
                            <label>{{ payment.pspReference | default('-') }}</label>
                        </div>
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.payment.payment-method' | trans }}</label>
                        </div>
                        <div>
                            <label>{{ payment.paymentMethod.getPaymentMethodString | default('-') }}</label>
                        </div>
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.payment.bank' | trans }}</label>
                        </div>
                        <div>
                            <label>{{ payment.issuer | default('-') }} </label>
                        </div>
                    </li>
                    <li>
                        <div class="col-8">
                            <label>{{ 'workflow.order.show.status' | trans }}</label>
                        </div>
                        <div class="col-2">
                            <label>{{ ('workflow.order.status.' ~ order.status) | trans }}</label>
                        </div>
                    </li>
                    {% if order.status == 'iban_verification_failed' %}
                        <a href='javascript://' class="action-link change-status" style='margin-left: 1cm'>{{ 'workflow.order.action.change-status-to-succes' | trans }}</a>
                    {% endif %}
                    <li>
                        <button type="button" class="resend-confirmation"
                                onclick="window.location.href='#'">{{ 'workflow.order.action.send-confirmation-email' | trans }}</button>
                    </li>
                </ul>
            </div>
        </fieldset>
        <h2>
            {{ 'workflow.order.show.proposition-elements.title' | trans }}
        </h2>
        <fieldset>
            {{ sg_datatables_render_html(propositionElementTlsOrderDatatable) }}
        </fieldset>
        <h2>
            {{ 'workflow.order.show.nal-products.title' | trans }}
        </h2>
        <fieldset>
            {{ sg_datatables_render_html(nalTlsOrderDatatable) }}
        </fieldset>
        <div class="email-confirmation-dialog" style="display:none">
            {{ 'workflow.order.show.resend-confirmation-mail.message' | trans }}
            {{ form_start(resendConfirmationForm, {'action': path('app_customerservice_order_show', {'orderId' : order.id}) }) }}
            <fieldset>
                <div class="col-12">
                    <ul class="horizontalforms">
                        <li>
                            {{ form_row(resendConfirmationForm.email) }}
                        </li>
                    </ul>
                </div>
            </fieldset>
            {{ form_end(resendConfirmationForm) }}
        </div>

    </div>
    <div class="row">
        <fieldset class="actions">
            <ul class="inlineforms">
                <li>
                    <a href="{{ assist_url }}/nl/workflow/orders">
                        {{ 'workflow.order.show.back_to_overview' | trans }}
                    </a>
                </li>
            </ul>
        </fieldset>
    </div>
{% endblock %}

{% block javascripts %}
    {% set petoDatatablePrefix = 'sg-datatables-' ~ propositionElementTlsOrderDatatable.name %}
    {% set ntoDatatablePrefix = 'sg-datatables-' ~ nalTlsOrderDatatable.name %}
    {{ sg_datatables_render_js(propositionElementTlsOrderDatatable) }}
    {{ sg_datatables_render_js(nalTlsOrderDatatable) }}
    <script>

        function getCheckedRows (dataTable) {
            const settings = dataTable.settings()[0];
            try {
                return JSON.parse(
                    (settings.iStateDuration === -1 ? sessionStorage : localStorage).getItem(
                        'DataTables_Checked_Rows_' + settings.sInstance
                    )
                ) || {};
            } catch (e) {}
        }

        function updateDatatable(table) {
          items = table.DataTable().rows({ selected: true }).ids(true);
          if (items.length > 0) {
            $('.'+table.prop("id")+'-multiselect-action').show();
          } else {
            $('.'+table.prop("id")+'-multiselect-action').hide();
          }
        }

        $(document).ready(function () {
          $("#{{ petoDatatablePrefix }}_wrapper")
            .on("change", ":checkbox", function () {
                updateDatatable($("#{{ petoDatatablePrefix }}_wrapper").find('table.dt-checkboxes-select'))
            })
            .on("click", "tr", function () {
                updateDatatable($("#{{ petoDatatablePrefix }}_wrapper").find('table.dt-checkboxes-select'))
            });

          $("#{{ ntoDatatablePrefix }}_wrapper")
            .on("change", ":checkbox", function () {
              updateDatatable($("#{{ ntoDatatablePrefix }}_wrapper").find('table.dt-checkboxes-select'))
            })
            .on("click", "tr", function () {
              updateDatatable($("#{{ ntoDatatablePrefix }}_wrapper").find('table.dt-checkboxes-select'))
            });

            $(".resend-confirmation").on("click", function () {
                $('.modal-dialog').html($('.email-confirmation-dialog').html()).dialog({
                    autoOpen: false,
                    closeOnEscape: true,
                    show: 'fade',
                    hide: 'fade',
                    minWidth: 600,
                    minHeight: 100,
                    closeText: 'Close',
                    modal: true,
                    title: "{{ 'workflow.order.show.resend-confirmation-mail.title' | trans }}",
                    draggable: false,
                    resizable: false,
                    buttons: [
                        {
                            text: "{{ 'workflow.order.show.resend-confirmation.button.cancel' | trans }}",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "{{ 'workflow.order.show.resend-confirmation.button.confirm' | trans }}",
                            'class': 'submit',
                            click: function () {
                              $('form').submit();
                            }
                        }

                    ]
                }).dialog("open");
            });

            {% if resendConfirmationForm.email.vars.errors|length > 0 %}
                $(".resend-confirmation").click();
            {% endif %}

            $( ".change-status").on("click", function () {
                $('.modal-dialog').html("{{ 'workflow.order.show.change-status.message' | trans }}").dialog({
                    autoOpen: true,
                    closeOnEscape: true,
                    show: 'fade',
                    hide: 'fade',
                    minWidth: 600,
                    minHeight: 100,
                    closeText: 'Close',
                    title: "{{ 'workflow.order.show.change-status.title' | trans }}",
                    modal: true,
                    draggable: false,
                    resizable: false,
                    buttons: [
                        {
                            text: "{{ 'workflow.order.show.change-status.button.cancel' | trans }}",
                            click: function () {
                                $(this).dialog("close");
                            }
                        },
                        {
                            text: "{{ 'workflow.order.show.change-status.button.change' | trans }}",
                            'class': 'submit',
                            click: function () {
                                $(this).dialog("close");
                                window.location.href = '{{ path('app_customerservice_order_change_status', {'orderId' : order.id}) }}';
                            }
                        }

                    ]
                });
            });
        });
    </script>
    {{ parent() }}
{% endblock %}
