{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.discount.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/discount/form.html.twig') }}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        const allPropositions = {{ allPropositions | serialize('json') | raw }};
        const selectedPropositions = {{ selectedPropositions | serialize('json') | raw }};
        new Vue({ el: '#two-side-multiselect-propositions' })
    </script>
{% endblock %}