{% block formContent %}
    <div id="discountFormContainer">
        {{ form_start(discountForm) }}
        {{ form_row(discountForm._token) }}
        <fieldset>
            <div class="col-8 center">
                <ul class="horizontalforms">
                    <li>
                        {{ form_label(discountForm.code) }}
                        <div class="col-8" style="padding: 3px">
                            {{ form_widget(discountForm.code) }}
                        </div>
                        {{ form_errors(discountForm.code) }}
                    </li>
                    <li>
                        {{ form_label(discountForm.type) }}
                        <div class="col-8" style="padding: 3px">
                            {{ form_widget(discountForm.type) }}
                        </div>
                        {{ form_errors(discountForm.type) }}
                    </li>
                    <li>
                        {{ form_label(discountForm.startDate) }}
                        <div class="col-3" style="padding: 3px">
                            {{ form_widget(discountForm.startDate) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(discountForm.endDate) }}
                            {{ form_widget(discountForm.endDate) }}
                        </div>
                    </li>
                    {% if discountForm.startDate.vars.errors|length or discountForm.endDate.vars.errors|length %}
                        <li>
                            {{ form_errors(discountForm.startDate) }}
                            {% if not discountForm.startDate.vars.errors|length %}
                                {{ form_errors(discountForm.endDate) }}
                            {% endif %}
                        </li>
                    {% endif %}
                    <li>
                        {{ form_label(discountForm.percentage) }}
                        <div class="col-3" style="padding: 3px">
                            {{ form_widget(discountForm.percentage) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(discountForm.amount) }}
                        </div>
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <ul class="horizontalforms">
                <li>
                    {{ form_label(discountForm.propositions) }}
                </li>
                <li>
                    {{ form_errors(discountForm.propositions) }}
                    <div id="two-side-multiselect-propositions">
                        <two-side-multiselect
                                :initial-options-available="allPropositions"
                                :initial-options-selected="selectedPropositions"
                                field="propositions"
                                object="discount"
                        ></two-side-multiselect>
                    </div>
                </li>
            </ul>

        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_discount_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.proposition-group.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_widget(discountForm.propositions) }}
        {{ form_end(discountForm) }}
    </div>
{% endblock %}