{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.modality.edit.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/modality/form.html.twig') }}
{% endblock %}
