{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.proposition-group.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/proposition_group/form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        const allRegions = {{ allRegions | serialize('json') | raw }};
        const selectedRegions = {{ selectedRegions | serialize('json') | raw }};

        const allModalities = {{ allModalities | serialize('json') | raw }};
        const selectedModalities = {{ selectedModalities | serialize('json') | raw }};

        new Vue({ el: '#two-side-multiselect-regions' })
        new Vue({ el: '#two-side-multiselect-modalities' })

    </script>
{% endblock %}