{% block formContent %}
    <div id="propositionGroupFormContainer">
        {{ form_start(propositionGroupForm) }}
        {{ form_row(propositionGroupForm._token) }}
        <div class="tabs">
            <ul>
                <li class="active"><a href="#details"
                                      title="Details">{{ 'form.administration.proposition-group.tabs.details' | trans | raw }}</a>
                </li>
                <li><a href="#description"
                       title="Description">{{ 'form.administration.proposition-group.tabs.description' | trans | raw }}</a>
                </li>
            </ul>
            <div id="details">
                <div class="col-8">
                    {% if not propositionGroupForm.description.vars.valid %}
                        <i style='color: red; font-size: 15px'>{{ 'form.administration.proposition-group.forgot-description' | trans }}</i>
                    {% endif %}
                    <fieldset>
                        <ul class="horizontalforms">
                            <li>
                                {{ form_row(propositionGroupForm.name) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.propositionType) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.category) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.vatRate) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.termsLink) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.order) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.starValues) }}
                            </li>
                            <li>
                                {{ form_row(propositionGroupForm.salesEnabled) }}
                            </li>
                            <li>
                                {{ form_widget(propositionGroupForm.regions) }}
                            </li>
                            <li>
                                {{ form_widget(propositionGroupForm.modalities) }}
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset>
                        <div class="col-3 center">
                            <ul class="horizontalforms">
                                <li>
                                    {{ form_label(propositionGroupForm.regions) }}
                                </li>
                            </ul>
                        </div>
                        <div class="col-9">
                            <div id="two-side-multiselect-regions">
                                <two-side-multiselect
                                        :initial-options-available="allRegions"
                                        :initial-options-selected="selectedRegions"
                                        left-label="{{ 'form.administration.proposition-group.field.regions.left-label' | trans | raw }}"
                                        right-label="{{ 'form.administration.proposition-group.field.regions.right-label' | trans | raw }}"
                                        field="regions"
                                        object="proposition_group"
                                />
                            </div>
                            <ul class="horizontalforms">
                                <li>
                                    {{ form_errors(propositionGroupForm.regions) }}
                                </li>
                            </ul>
                        </div>
                    </fieldset>

                </div>
                <div class="row">
                    <fieldset>
                        <div class="col-3 center">
                            <ul class="horizontalforms">
                                <li>
                                    {{ form_label(propositionGroupForm.modalities) }}
                                </li>
                            </ul>
                        </div>
                        <div id="two-side-multiselect-modalities" class="col-9">
                            <two-side-multiselect
                                    :initial-options-available="allModalities"
                                    :initial-options-selected="selectedModalities"
                                    left-label="{{ 'form.administration.proposition-group.field.modalities.left-label' | trans | raw }}"
                                    right-label="{{ 'form.administration.proposition-group.field.modalities.right-label' | trans | raw }}"
                                    field="modalities"
                                    object="proposition_group"
                            />
                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="description">
                <fieldset>
                    <div class="col-4 center">
                        <ul class="horizontalforms">
                            <li>
                                {{ form_label(propositionGroupForm.description) }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-11">
                        {{ form_widget(propositionGroupForm.description) }}
                    </div>
                </fieldset>
                <ul class="horizontalforms">
                    <li>
                        {{ form_errors(propositionGroupForm.description) }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_propositiongroup_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.proposition-group.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(propositionGroupForm,{}) }}
    </div>

{% endblock %}