{% block formContent %}
    <div id="stationFormContainer">
        {{ form_start(stationForm) }}
        {{ form_row(stationForm._token) }}
        <fieldset>
            <div class="col-8 center">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(stationForm.name) }}
                    </li>
                    <li>
                        {{ form_row(stationForm.code) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset>
                <div class="col-8 center">
                    <ul class="horizontalforms">
                        <li>
                            {{ form_label(stationForm.regions) }}
                        </li>
                        <li>
                            {{ form_errors(stationForm.regions) }}
                            <div id="two-side-multiselect-regions">
                                <two-side-multiselect
                                        :initial-options-available="allRegions"
                                        :initial-options-selected="selectedRegions"
                                        field="regions"
                                        object="station"
                                ></two-side-multiselect>
                            </div>
                        </li>
                    </ul>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_station_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.station.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_widget(stationForm.regions) }}
        {{ form_end(stationForm) }}
    </div>
{% endblock %}