{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.station.import.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    <div id="importFormContainer">
        {{ form_start(importForm) }}
        {{ form_row(importForm._token) }}
        <fieldset>
            <ul class="horizontalforms">
                <li style="text-decoration: underline;">
                    <a href="{{ path('app_administration_station_example') }}" id="preview_button">{{ 'administration.import.form.example-file' | trans }}</a>
                </li>
            </ul>
            <div class="col-8 center">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(importForm.file) }}
                    </li>
                </ul>
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error.message | trans({'%row%': error.row}) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_station_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.station.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(importForm) }}
    </div>
{% endblock %}
