{% extends 'layout-datatable.html.twig' %}

{% block datatableTitle %}{{ 'administration.station.search-results.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogTitle %}{{ 'administration.station.delete.dialog.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogBody %}{{ 'administration.station.delete.confirmation' | trans }}{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>

    $(document).ready(function () {
        $('#toolbar_add_button,#toolbar_read_button').closest('li').remove();
    });
</script>

{% endblock %}