<span class="{{ column_class_editable_selector }}" data-pk="{{ pk }}" {% if path is not same as(null) %}data-path="{{ path }}"{% endif %}>
{%- if data is not null -%}
    {{ data.engravedId | engravedId }}<br />{{ data.ascription }}
{%- endif -%}
</span>
