{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.proposition-element.copy.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/proposition_element/form.html.twig') }}
{% endblock %}
