{% block formContent %}
    <div id="propositionElementFormContainer">
        {{ form_start(propositionElementForm) }}
        {{ form_row(propositionElementForm._token) }}
        <fieldset>
            <div class="col-8">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(propositionElementForm.name) }}
                    </li>
                    <li>
                        {{ form_row(propositionElementForm.peCode) }}
                    </li>
                    <li>
                        {{ form_row(propositionElementForm.description) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_propositionelement_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.proposition-element.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(propositionElementForm) }}
    </div>
{% endblock %}
