{% set individual_filtering = false %}


{% if sg_datatables_view.columnBuilder.uniqueColumn('multiselect') is not same as(null) %}
    <div id="sg-datatables-{{ sg_datatables_view.name }}-multiselect-actions"></div>
{% endif %}

{% if true == sg_datatables_view.options.individualFiltering %}
    {% if true == sg_datatables_view.features.searching or sg_datatables_view.features.searching is same as(null) %}
        {% set individual_filtering = true %}
    {% endif %}
{% endif %}

{% set hasFilters = false %}
{% for column in sg_datatables_view.columnBuilder.columns %}
    {% if column.searchable and column.visible %}{% set hasFilters = true %}{% endif %}
{% endfor %}

<table id="sg-datatables-{{ sg_datatables_view.name }}" class="{{ sg_datatables_view.options.classes }}" cellspacing="0" width="100%">
    <thead>
    {% if true == individual_filtering %}
        {% if 'head' == sg_datatables_view.options.individualFilteringPosition or 'both' == sg_datatables_view.options.individualFilteringPosition%}
            <tr>
                {% for column in sg_datatables_view.columnBuilder.columns %}
                    <th>{{ column.title }}</th>
                {% endfor %}
            </tr>
            {% if hasFilters is same as(true) %}
            <tr id="sg-datatables-{{ sg_datatables_view.name }}-filterrow">
                {% for column in sg_datatables_view.columnBuilder.columns %}
                    <th>
                        {% if column.searchable %}
                            {{ sg_datatables_render_filter(sg_datatables_view, column, 'head') }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
            {% endif %}
        {% endif %}
    {% endif %}
    </thead>
    <tbody>
    </tbody>
</table>
