{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
<script type="text/javascript">

    //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/datatable/init.js

    var oTable{{ sg_datatables_view.name }};

    $(document).ready(function () {

        var selector = "#sg-datatables-{{ sg_datatables_view.name }}";

        var dataTableHeight = $(window).height()
          - (($(selector).length == 1) ? $(selector).offset().top : 245)
          - $('footer.main').height()
          - 80
          - 0;

        var defaults = {
        };

        var language = {
            {% include '@SgDatatables/datatable/language.html.twig' %}
        };

        var ajax = {
            {% include '@SgDatatables/datatable/ajax.html.twig' %}
        };

        var options = {
            {% include '@SgDatatables/datatable/options.html.twig' %}
        };

        var features = {
            {% include '@SgDatatables/datatable/features.html.twig' %}
        };

        var callbacks = {
            {% include '@SgDatatables/datatable/callbacks.html.twig' %}
        };

        var extensions = {
            {% include '@SgDatatables/datatable/extensions.html.twig' %}
        };

        var columns = {
            {% include '@SgDatatables/datatable/columns.html.twig' %}
        };

        var initialSearch = {
            {% include '@SgDatatables/datatable/initial_search.html.twig' %}
        };

        var columnDefs = {
            {% include 'datatable/datatable/column_defs.html.twig' %}
        };

        function postCreateDatatable(pipeline) {
            {% for column in sg_datatables_view.columnBuilder.columns %}
                {% if column.renderPostCreateDatatableJsContent is not null %}
                    {{ column.renderPostCreateDatatableJsContent|raw }}
                {% endif %}
            {% endfor %}
        }

        function saveSelectedRows (dt) {
            var settings = dt.settings()[0];
            var selectedRowsData = dt.rows({selected: true}).data().toArray().map(function (row) {
                  return row.id;
            });
            try {
                (settings.iStateDuration === -1 ? sessionStorage : localStorage).setItem(
                  'DataTables_Row_Selection_' + settings.sInstance,
                  JSON.stringify(selectedRowsData)
                );
            } catch (e) {}
        }

        function restoreSelectedRows (dt) {
            var settings = dt.settings()[0];
            try {
                var selectedRowsData = JSON.parse(
                  (settings.iStateDuration === -1 ? sessionStorage : localStorage).getItem(
                    'DataTables_Row_Selection_' + settings.sInstance
                  )
                ) || [];

                dt.rows().data().toArray().forEach(function (rowData, rowIdx) {
                    if (selectedRowsData.indexOf(rowData.id) > -1) {
                        oTable{{ sg_datatables_view.name }}.rows(rowIdx).select();
                    }
                });
            } catch (e) {}
        }

        function createDatatable() {
            $.extend(defaults, language);
            $.extend(defaults, ajax);
            $.extend(defaults, options);
            $.extend(defaults, features);
            $.extend(defaults, callbacks);
            $.extend(defaults, extensions);
            $.extend(defaults, columns);
            $.extend(defaults, columnDefs);
            $.extend(defaults, initialSearch);

            if (!$.fn.dataTable.isDataTable(selector)) {
                $(selector)
                    {% include '@SgDatatables/datatable/events.html.twig' %}
                ;

                oTable{{ sg_datatables_view.name }} = $(selector).DataTable(defaults)
                    .on('draw.dt', function drawDt() {
                        postCreateDatatable({{ sg_datatables_view.ajax.pipeline}})
                    })
                    .on('select', function (e, dt, type, indexes) {
                        if (typeof dt === 'undefined') {
                            return false;
                        }
                        saveSelectedRows(dt);
                        var rowData = dt.rows(indexes).data().toArray()[0];
                        if (rowData.allowedActions.indexOf('read') > -1) {
                            $('#toolbar_read_button').trigger('show');
                        }
                        if (rowData.allowedActions.indexOf('update') > -1) {
                            $('#toolbar_update_button').trigger('show');
                        }
                        if (rowData.allowedActions.indexOf('delete') > -1) {
                            $('#toolbar_delete_button').trigger('show');
                        }
                        if (rowData.allowedActions.indexOf('delete') > -1) {
                            $('#toolbar_copy_button').trigger('show');
                        }
                    })
                    .on('deselect', function deselect(e, dt) {
                        if (typeof dt === 'undefined') {
                            return false;
                        }
                        saveSelectedRows(dt);
                        $('#toolbar_read_button').trigger('hide');
                        $('#toolbar_update_button').trigger('hide');
                        $('#toolbar_delete_button').trigger('hide');
                        $('#toolbar_copy_button').trigger('hide');
                    })
                    .on('preDraw', function draw() {
                        $('#toolbar_read_button').trigger('hide');
                        $('#toolbar_update_button').trigger('hide');
                        $('#toolbar_delete_button').trigger('hide');
                        $('#toolbar_copy_button').trigger('hide');
                    })
                    .on('draw', function draw() {
                        restoreSelectedRows(oTable{{ sg_datatables_view.name }});
                    })
                    .on('search', function search() {
                        oTable{{ sg_datatables_view.name }}.rows().deselect();
                    });

                {% if true == sg_datatables_view.options.individualFiltering %}
                    {% include '@SgDatatables/datatable/search.js.twig' %}
                {% endif %}
            }

            {% if sg_datatables_view.columnBuilder.uniqueColumn('multiselect') is not null %}
                oTable{{ sg_datatables_view.name }}
                  .on('preDraw', function () {
                    $('#toolbar_multiselect_actions').trigger(Object.keys(getCheckedRows()).length ? 'show' : 'hide')
                  })
                  .on('draw', function () {
                    restoreCheckedRows();
                    $('input.sg-datatables-{{ sg_datatables_view.name }}-multiselect-checkbox:checkbox').on('change', function () {
                      $('#toolbar_multiselect_actions').trigger(Object.keys(getCheckedRows()).length ? 'show' : 'hide')
                    })
                  })
            {% endif %}
        }

        createDatatable();

        {% if sg_datatables_view.columnBuilder.uniqueColumn('multiselect') is not null %}
            {{ sg_datatables_render_multiselect_actions( sg_datatables_view.columnBuilder.uniqueColumn('multiselect'), sg_datatables_view.ajax.pipeline) }}
        {% endif %}

        $('#toolbar_remove_filters_button').on('click', function () {
            var filterFormSelector = '#sg-datatables-{{ sg_datatables_view.name }}-filterrow';
            $(filterFormSelector).find(':input:not(:button)').each(function () {
                $(this).val("");
                oTable{{ sg_datatables_view.name }}
                    .column($(this).data("search-column-index"))
                    .search("");
            });
            oTable{{ sg_datatables_view.name }}.draw();
        });

    });

    {% block additional_datatable_javascripts %}
    {% endblock %}
</script>
