{##
 # This file is part of the SgDatatablesBundle package.
 #
 # (c) stwe <https://github.com/stwe/DatatablesBundle>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}
function drawTable() {
    {% if sg_datatables_view.ajax.pipeline > 0 %}
  oTable{{ sg_datatables_view.name }}.clearPipeline().draw();
    {% else %}
  oTable{{ sg_datatables_view.name }}.draw();
    {% endif %}
}

var selectSearch = $.fn.dataTable.util.throttle(
  function(event) {
    var searchValue = $(this).val();
    searchValue = searchValue ? searchValue.toString() : '';
    oTable{{ sg_datatables_view.name }}
      .column($(event.currentTarget).data("search-column-index"))
      .search(searchValue);
    drawTable();
  },
  options.searchDelay
)

var search = $.fn.dataTable.util.throttle(
  function(event) {
    if (event.type == "keyup") {
      if (
        event.keyCode == 37 ||
        event.keyCode == 38 ||
        event.keyCode == 39 ||
        event.keyCode == 40 ||
        event.keyCode == 16 ||
        event.keyCode == 17 ||
        event.keyCode == 18
      )
        return;
    }

    oTable{{ sg_datatables_view.name }}
      .column($(event.currentTarget).data("search-column-index"))
      .search($(this).val());
    drawTable();
  },
  options.searchDelay
);

$(selector + '-filterrow').find("input[type='number'].sg-datatables-individual-filtering").on("keyup change", search);
$(selector + '-filterrow').find("input[type='text'].sg-datatables-individual-filtering").on("keyup", search);
$(selector + '-filterrow').find("select.sg-datatables-individual-filtering").on("keyup change", selectSearch);
