{% if deleteConfirmationDialogTitle is not empty and deleteConfirmationDialogBody is not empty %}
<div style="display:none">
    <div class="modal-dialog" id="delete_confirmation_dialog" title="{{ deleteConfirmationDialogTitle | raw }}">
        {{ deleteConfirmationDialogBody | raw }}
    </div>
</div>
{% endif %}