function drawCallback() {
    var paginate = $('#{{ datatable_name | raw }}_paginate');
    var rowsPerPage = this.fnSettings()._iDisplayLength;
    var rowsToShow = this.fnSettings().fnRecordsDisplay();

    // show paging if applicable
    if ( rowsToShow > rowsPerPage ) {
        paginate.show();
    } else {
        paginate.hide();
    }

    // add row colors if callback function detected
    if (typeof colorDataTableRows == 'function') {
        colorDataTableRows();
    }
}