{% if filterFormTitle is not empty and filterFormContent is not empty %}
    <aside class="filter-pane">
        <header>
            <h1 class="filter-title">{{ filterTitle | raw }}</h1>
            <button class="confirmation filter-hide-button">&laquo;</button>
        </header>
        <article>
            <div class="inner">
                <form name="sg-datatables-filter-form" id="sg-datatables-filter-form" class="filter">
                    <fieldset>
                        <legend>{{ filterFormTitle | raw }}</legend>
                        {{ filterFormContent | raw }}
                    </fieldset>
                    <fieldset class="actions">
                        <ul class="inlineforms">
                            <li>
                                <button type="reset" name="filterReset" id="sg-datatables-head-filter-reset">
                                    {{ 'common.elements.filter.reset' | trans }}
                                </button>
                            </li>
                            <li>
                                <button type="submit" name="filterSubmit" id="sg-datatables-head-filter-submit" class="confirmation">
                                    {{ 'common.elements.filter.apply' | trans }}
                                </button>
                            </li>
                        </ul>
                    </fieldset>
                </form>
            </div>
        </article>
    </aside>
    <aside class="filter-hidden-pane">
        <header>
            <button class="confirmation filter-show-button">&raquo;</button>
        </header>
    </aside>
{% endif %}