function stateLoadCallback(settings) {
    try {
        var tableStateData = JSON.parse(
          (settings.iStateDuration === -1 ? sessionStorage : localStorage).getItem('DataTables_'+ settings.sInstance)
        );

        if (tableStateData) {
            var filterFormSelector = '#sg-datatables-{{ sg_datatables_view.name }}-filterrow';
            $(filterFormSelector).find(':input:not(:button)').each(function () {
                var searchColumnindex = $(this).data('search-column-index');
                if (tableStateData.columns && tableStateData.columns[searchColumnindex] &&
                  '' !== tableStateData.columns[searchColumnindex].search.search
                ) {
                    $(this).val(tableStateData.columns[searchColumnindex].search.search);
                }
            });
        }

        return tableStateData;
    } catch (e) {}
}