<nav class="datatable toolbar">
    <ul>
        {% if datatable.actions['import'] is defined %}
            <li>
                <a href="javascript:;" id="toolbar_import_button"
                   data-route-name="{{ datatable.actions['import']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['import']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/document-import.png') }}" alt="document icon">
                    {{ 'common.elements.datatable.toolbar.import' | trans }}
                </a>
            </li>
        {% endif %}
        {% if datatable.actions['export'] is defined %}
            <li>
                <a href="javascript:;" id="toolbar_export_button"
                   data-route-name="{{ datatable.actions['export']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['export']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/document--arrow.png') }}" alt="document icon">
                    {{ 'common.elements.datatable.toolbar.export' | trans }}
                </a>
            </li>
        {% endif %}
        {% if datatable.actions['create'] is defined %}
            <li>
                <a href="javascript:;" id="toolbar_add_button"
                   data-route-name="{{ datatable.actions['create']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['create']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/plus.png') }}" alt="plus icon">
                    {{ 'common.elements.datatable.toolbar.add' | trans }}
                </a>
            </li>
        {% endif %}
        {% if datatable.actions['copy'] is defined %}
            <li style="display:none">
                <a href="javascript:;" id="toolbar_copy_button"
                   data-route-name="{{ datatable.actions['copy']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['copy']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/document-copy.png') }}" alt="document-copy icon">
                    {{ 'common.elements.datatable.toolbar.copy' | trans }}
                </a>
            </li>
        {% endif %}
        {% if datatable.actions['update'] is defined %}
            <li style="display:none">
                <a href="javascript:;" id="toolbar_update_button"
                   data-route-name="{{ datatable.actions['update']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['update']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/pencil.png') }}" alt="pencil icon">
                    {{ 'common.elements.datatable.toolbar.edit' | trans }}
                </a>
            </li>
        {% endif %}
        {% if datatable.actions['delete'] is defined %}
            <li style="display:none">
                <a href="javascript:;" id="toolbar_delete_button"
                   data-route-name="{{ datatable.actions['delete']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['delete']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/cross.png') }}" alt="cross icon">
                    {{ 'common.elements.datatable.toolbar.delete' | trans }}
                </a>
            </li>
        {% endif %}
        {% if datatable.actions['read'] is defined %}
            <li style="display:none">
                <a href="javascript:;" id="toolbar_read_button"
                   data-route-name="{{ datatable.actions['read']['routeName'] }}"
                   data-route-param-name="{{ datatable.actions['read']['routeParamName'] }}">
                    <img src="{{ asset('default/static/gfx/icons/view.png') }}" alt="view icon">
                    {{ 'common.elements.datatable.toolbar.show' | trans }}
                </a>
            </li>
        {% endif %}
        <li style="float: right">
            <a href="javascript:;" id="toolbar_remove_filters_button">
                <img src="{{  '/icons/disable-filter.png' }}" alt="disable filter icon">
                {{ 'common.elements.dialog.button.reset' | trans }}
            </a>
        </li>
        {{ datatableToolbarAdditionalActions | raw }}
    </ul>
</nav>
