<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" lang="{{ app.request.locale }}"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]>  <html> <![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}" />
    <title>{%- block pageTitle %}{{ 'common.browser.title' | trans }} {{ pageTitle() }}{% endblock pageTitle -%}</title>

    <!-- icons -->
    <link rel="shortcut icon" href="{{ asset('default/static/gfx/favicon/favicon.ico') }}"/>
    <link rel="apple-touch-icon" href="{{ asset('default/static/gfx/favicon/apple-touch-icon.png') }}" />

    <!-- stylesheets -->
    {% block stylesheets -%}
        <link rel="stylesheet" href="{{ asset('default/static/css/screen.css') }}" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ asset('default/static/bower_components/intl-tel-input/build/css/intlTelInput.css') }}" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ asset('default/implementation/css/application.css') }}" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="{{ asset('css/application.css') }}" type="text/css" media="screen, projection" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css">

        <!-- print -->
        <link rel="stylesheet" href="{{ asset('default/static/css/print.css') }}" media="print" />
    {% endblock stylesheets %}

    <!-- from cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment-with-locales.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.25/daterangepicker.min.js" charset="UTF-8"></script>
    <script src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.13/af-2.1.3/b-1.2.4/b-flash-1.2.4/b-html5-1.2.4/b-print-1.2.4/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.2.0/r-2.1.1/rr-1.2.0/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="https://cdn.rawgit.com/noelboss/featherlight/1.7.1/release/featherlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>


    <!-- local -->
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    {#<script type="text/javascript" src="{{ asset('default/static/bower_components/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('default/static/bower_components/jquery-form/jquery.form.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('default/static/bower_components/modernizr/modernizr.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('default/static/bower_components/mustache.js/mustache.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('default/static/bower_components/jquery.cookie/jquery.cookie.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('default/static/bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('default/static/bower_components/jqueryui-timepicker-addon/dist/jquery-ui-timepicker-addon.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('default/static/bower_components/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('default/static/bower_components/intl/dist/Intl.min.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('default/static/bower_components/intl/locale-data/jsonp/nl-NL.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('default/static/js/jquery.formalize.min.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('default/static/bower_components/qtip2/basic/jquery.qtip.min.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('default/implementation/js/loader.js') }}"></script>#}
    <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('js/jquery-plugins.js') }}"></script>
    <script type="text/javascript">
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/browser-detect.js
        var ckeditorContainer = [];
        {{ source('js/browser-detect.js.twig') }}
    </script>
</head>
<body>

{% block body -%}{%- endblock body %}

{% block loader %}
    <div class="loader" id="loader">
        <div class="inner">
            <p class="default">{{ 'common.layout.loader.text' | trans }}</p>
            <p class="dynamic"></p>
        </div>
        <div class="overlay"></div>
    </div>
{% endblock loader %}

<!--[if lt IE 7 ]>
<script src="{{ asset('default/static/js/jquery.ie6blocker.js') }}"></script>
<![endif]-->

{% include 'flash-messages.html.twig' %}

{% block javascripts %}

    <!--[if lt IE 9]>
    <script>
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/ie9-fix.js
        $(document).ready(function() {
            var el;

            $('select').each(function() {
                el = $(this);
                el.data('origWidth', el.outerWidth())

            }).mouseenter(function(){
                $(this).css('width', 'auto').css('max-width', '99%');

            }).bind('blur change', function(){
                el = $(this);
                el.css('width', el.data('origWidth'));
            });
        });
    </script>
    <![endif]-->

    <script>
        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/base.js
        $(document).ready(function () {
            {{ source('js/tabs.js.twig') }}
            {{ source('js/datepicker.js.twig') }}
            {{ source('js/multi-text.js.twig') }}
        });

        $(function($) {
            $.arriva = {
                convertPixelsToViewportPercentage: function(value, dimension) {
                    if (/%$/.test(value)) {
                        var viewport = 0;
                        switch (dimension) {
                            case 'x':
                                viewport = $(window).width();
                                break;
                            case 'y':
                                viewport = $(window).height();
                                break;
                            default:
                                return value;
                                break;
                        }

                        return Math.round(viewport / 100 * parseInt(value));
                    } else {
                        return value;
                    }
                }
            };
        }(jQuery));

        /** Loader on ajax requests */
        var ajaxCallCount = 0;
        var loaderIcon = $('.loader').hide();

        jQuery(document).ajaxSend(function (evt, request, settings) {
            if (typeof(settings.showLoader) == 'undefined') {
                settings.showLoader = true;
            }
            if (loaderIcon.is(':hidden') && settings.showLoader) {
                loaderIcon.show();
            } else if (!settings.showLoader) {
                loaderIcon.hide();
            }
            ajaxCallCount++;
        }).ajaxComplete(function (evt, request, settings) {
            if (typeof(settings.hideLoaderOnFinish) == 'undefined') {
                settings.hideLoaderOnFinish = true;
            }
            ajaxCallCount--;
            if (ajaxCallCount <= 0 && settings.hideLoaderOnFinish) {
                loaderIcon.hide();
                ajaxCallCount = 0;
            }
            $('button, a.button, input:submit').button();
        }).ajaxError(function (event, request) {
            if (request.responseJSON && false === request.responseJSON.success && request.responseJSON.redirectUrl) {
                window.location.replace(request.responseJSON.redirectUrl);
            }
        });

    </script>

{% endblock javascripts %}
</body>
</html>