<nav class="breadcrumb">
    {% set breadcrumbs_items = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
    {% if breadcrumbs_items | length > 2 %}
        {% for breadcrumb_item in breadcrumbs_items %}
            {% if not loop.first %}
                {% if not loop.last %}
                    <a id="breadcrumbs-{{ loop.index }}"{% if breadcrumb_item.item.linkAttributes.title is defined %} title="{{ breadcrumb_item.item.linkAttributes.title | trans }}"{% endif %} href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label | trans }}</a>&nbsp;&nbsp;
                {% else %}
                    {{ breadcrumb_item.label | trans }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <ul>
        <li class="goback">
            {{ 'common.layout.header.user_message' | trans({'%fullName%': app.user.fullName}) }}
            <a href="{{ path('logout') }}">{{ 'common.layout.header.logout' | trans }}</a>
        </li>
    </ul>
</nav>
