<!-- flash messages -->
<div class="global-feedback" id="global-feedback">
    <!--
    Mustache template for a single feedback message.
    properties:
    - type: the type of message (error|warning|success)
    - text: the text of the message
    -->
    <script type="x-tmpl-mustache" id="template-fb-message">
    <div class="fb-message {{ '{{' -}}type{{ '}}' }}" id="{{ '{{' }}id{{ '}}' }}">
        <p>{{ '{{' }}text{{ '}}' }}</p>
        <a href="javascript:void(0)"><i class="close-feedback">{{ 'common.elements.dialog.button.close' | trans }}</i></a>
    </div>
    </script>
    <script type="text/javascript">

        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/feedbackMessageManager.js

      window.feedbackMessageManager = (function(jQ)
      {
        /** The return object. This will contain all methods necessary for manipulating the feedback messages */
        var ret = {};

        /** The list of messages. Each is an object with properties type, text, id and el */
        var messages = [];

        /** The feedback message root element */
        var elFB = jQ('#global-feedback');

        var tplFbMessage = jQ('#template-fb-message').html();
        Mustache.parse(tplFbMessage);

        // generate a new unique ID
        var nextId = (function() {
          var counter = 1;
          return function() {
            return 'fb-message-'+(counter++);
          };
        }());

        /** Convenience method for finding the index within messages of the given message id */
        var findMessageIndex = function(id) {
          return messages.reduce(function(pV, cV, cI, array) {
            if (pV !== false) return pV;
            if (cV.id == id) return cI;
            return false;
          }, false);
        };

        /** Add a message to the screen */
        ret.addMessage = function(text, type) {
          var message = {
            'type': type,
            'text': text,
            'id': nextId(),
            'el': null,
            'remove': function() {
              return ret.removeMessage(message.id);
            }
          };

          type = type || 'warning';
          var content = Mustache.render(tplFbMessage, message);
          elFB.append(content);
          message.el = elFB.find('#'+message.id);
          if (!messages.length) {
            elFB.fadeIn(1000);
          }
          messages.push(message);

          return message;
        };

        /** Remove a message from the screen */
        ret.removeMessage = function(id) {
          var iMessage = findMessageIndex(id);
          if (iMessage !== false) {
            var message = messages[iMessage];
            message.el.detach();
            messages.splice(iMessage, 1);
            if (!messages.length) {
              elFB.hide();
            }
          } else return false;
        };

        // attach the click event handler
        elFB.on('click', '.close-feedback', function(e) {
          ret.removeMessage($(this).closest('.fb-message').attr('id'));
        });

        return ret;
      })($);
    </script>
</div>

{%- if app.request.session.flashBag.peekAll | length > 0 %}
<script type="text/javascript">
    //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/flash-messages.js
  $(document).ready(function() {
      {% for label, messages in app.request.session.flashBag.all -%}
        {%- for message in messages -%}
            window.feedbackMessageManager.addMessage('{{- message | trans | raw -}}', '{{- label -}}');
        {%- endfor -%}
      {%- endfor %}
  });

</script>
{% endif %}