{% extends 'base-clean-layout.html.twig' %}

{% block deleteConfirmationDialogTitle %}{% endblock %}

{% block deleteConfirmationDialogBody %}{% endblock %}

{% block datatableToolbarAdditionalActions %}{% endblock %}

{% block body %}

    <section>
        <div class="row">
            <article>
                <header>
                    <h1>{% block datatableTitle %}{% endblock datatableTitle %}</h1>
                </header>
                <div class="inner">
                    {% include 'datatable/toolbar.html.twig' with {
                        datatableToolbarAdditionalActions: block('datatableToolbarAdditionalActions')
                    } %}
                    {% include 'datatable/table.html.twig' %}
                    {% include 'datatable/delete-confirm-dialog.html.twig' with {
                        deleteConfirmationDialogTitle: block('deleteConfirmationDialogTitle'),
                        deleteConfirmationDialogBody: block('deleteConfirmationDialogBody')
                    } %}
                </div>
            </article>
        </div>
    </section>

{% endblock body %}

{% block javascripts %}

    {{ sg_datatables_render_js(datatable) }}
    {{ parent() }}

    <script>

        //# sourceURL={{ app.request.getSchemeAndHttpHost() }}/inline/layout-datatable.js

        $(document).ready(function () {

            $('#toolbar_read_button, #toolbar_update_button, #toolbar_delete_button, #toolbar_copy_button')
                .on('show', function () {
                    $(this).closest('li').show();
                })
                .on('hide', function () {
                    $(this).closest('li').hide();
                });

            $('#toolbar_multiselect_actions')
                .on('show', function () {
                    $(this).show()
                })
                .on('hide', function () {
                    $(this).hide()
                });

            $('#toolbar_read_button, #toolbar_update_button, #toolbar_copy_button').on('click', function () {
                $('#flashMessages').html('');
                const routeName = $(this).data('route-name');
                const routeParamName = $(this).data('route-param-name');
                const selectedRow = oTable{{ datatable.name }}.rows({selected: true}).data().toArray()[0];
                const routeParams = {};
                routeParams[routeParamName] = selectedRow.id;
                document.location.href = Routing.generate(routeName, routeParams, false);
            });


            $('#toolbar_export_button').on('click', function () {
                $('#flashMessages').html('');
                const routeName = $(this).data('route-name');
                const routeParamName = $(this).data('route-param-name');
                const routeParams = {};
                const data = oTable{{ datatable.name }}.rows().data().toArray();
                const codes = [];
                $.each(data, function(index, value) {
                    codes.push(value.code);
                });
                routeParams[routeParamName] = codes;
                document.location.href = Routing.generate(routeName, routeParams, false);
            });


            $('#toolbar_add_button, #toolbar_import_button').on('click', function () {
                $('#flashMessages').html('');
                var routeName = $(this).data('route-name');
                document.location.href = Routing.generate(routeName, {}, false);
            });

            $('#toolbar_delete_button').on('click', function () {
                $('#flashMessages').html('');
                $('#delete_confirmation_dialog').dialog('open');
            });

            $('#delete_confirmation_dialog').dialog({
                autoOpen: false,
                position: {my: 'center', at: 'center', of: window},
                closeOnEscape: false,
                hide: 'fade',
                minWidth: $.arriva.convertPixelsToViewportPercentage('640', 'x'),
                minHeight: $.arriva.convertPixelsToViewportPercentage('100', 'y'),
                closeText: '{{ 'common.elements.dialog.button.close' | trans }}',
                modal: true,
                draggable: true,
                resizeable: false,
                buttons: {
                    'dialog_cancel_button': {
                        'id': 'dialog_cancel_button',
                        'text': '{{ 'common.elements.dialog.button.cancel' | trans }}',
                        'class': 'submit cancel',
                        'click': function () {
                            $('#delete_confirmation_dialog').trigger('close', '#dialog_cancel_button', null);
                        }
                    },
                    'dialog_confirm_button': {
                        'id': 'dialog_confirm_button',
                        'text': '{{ 'common.elements.dialog.button.ok' | trans }}',
                        'class': 'submit ok',
                        'click': function () {
                            $('.loader').show();
                            var routeName = $('#toolbar_delete_button').data('route-name');
                            var routeParamName = $('#toolbar_delete_button').data('route-param-name');
                            var selectedRow = oTable{{ datatable.name }}.rows({selected: true}).data().toArray()[0];
                            oTable{{ datatable.name }}.rows().deselect();
                            var routeParams = {};
                            routeParams[routeParamName] = selectedRow.id;
                            document.location.href = Routing.generate(routeName, routeParams, false);
                        }
                    }
                },
                show: {
                    effect: 'fade',
                    complete: function () {
                    }
                }
            });

            $('#delete_confirmation_dialog').on('close', function () {
                $(this).dialog('close');
                if (typeof(CKeditors) != 'undefined') {
                    for (editorID in CKeditors) {
                        if (CKeditors[editorID] && $('#delete_confirmation_dialog').find('#' + editorID)) {
                            CKeditors[editorID].destroy(true);
                            CKeditors[editorID] = null;
                        }
                    }
                }
            });

            $('#delete_confirmation_dialog span[title]').qtip();

        })
        ;

    </script>

{% endblock javascripts %}