{% extends 'base.html.twig' %}

{% block body %}

    <section>
        <article>
            <header>
                <h1>{% block formTitle %}{% endblock %}</h1>
            </header>
            <div class="inner">
                {% block formContent %}{% endblock %}
            </div>
        </article>
    </section>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>

        Vue.component('two-side-multiselect', {
            props: {
                initialOptionsAvailable: {
                    type: Array,
                    default: []
                },
                initialOptionsSelected: {
                    type: Array,
                    default: []
                },
                field: {
                    type: String,
                    required: true
                },
                object: {
                    type: String,
                    required: true
                },
                search: {
                    type: String,
                    required: false
                },
                leftLabel: {
                    type: String,
                    default: ''
                },
                rightLabel: {
                    type: String,
                    default: ''
                }
            },
            data: function () {
                return {
                    optionsAvailable: this.initialOptionsAvailable,
                    optionsSelected: Object.values(this.initialOptionsSelected),
                    selectedItemsLeft: [],
                    selectedItemsRight: [],
                    searchField: '',
                }
            },
            mounted: function () {
              const elementName = `${this.object}[${this.field}][]`
              $(document).ready(function () {
                $(`select[name="${elementName}"]`).remove();
              });

            },
            computed: {
                optionsDeselected: function () {
                    const searchValue = this.searchField;
                    itemsLeft = this.optionsAvailable.filter(optionA => !this.optionsSelected.find(optionB => optionA.id === optionB.id));
                    if(this.search === 'left') {
                        itemsLeft = itemsLeft.filter(option => option.name.toLowerCase().indexOf(searchValue.trim().toLowerCase()) >= 0)}
                    return itemsLeft;
                },
                buttonMargin: function () {
                  const marginTop = this.leftLabel || this.rightLabel ? '28px': "0px"

                  return {marginTop}
                },
                leftMargin: function () {
                  const marginTop = this.rightLabel && !this.leftLabel ? '20px': "0px"

                  return {marginTop}
                },
                rightMargin: function () {
                  const marginTop = this.leftLabel && !this.rightLabel ? '20px': "0px"

                  return {marginTop}
                }
            },
            methods: {
                select: function (indexes) {
                    self = this;
                    indexes.forEach(function (index) {
                        if(!self.optionsSelected.includes(self.optionsAvailable.find(option => option.id === index))) {
                            self.optionsSelected.push(self.optionsAvailable.find(option => option.id === index));
                        }
                    });
                },
                deselect: function (indexes) {
                    self = this;
                    indexes.forEach(function (index) {
                        self.optionsSelected.splice(self.optionsSelected.indexOf(self.optionsSelected.find(option => option.id === index)),1);
                    });
                },
                selectAll: function () {
                    self = this;
                    self.optionsAvailable.forEach(function (optionA) {
                        if(!self.optionsSelected.find(optionB => optionA.id === optionB.id)) {
                            self.optionsSelected.push(optionA);
                        }
                    });
                },
                deselectAll: function () {
                    this.optionsSelected = [];
                }
            },
            template:
                `
                <div name="two-side-multiselect" class="multipicker">
                    <fieldset>
                            <div class="col-7" v-bind:style="leftMargin">
                                <label for="optionsDeselected">{{ '{{ ' }}leftLabel{{ '}}' }}</label>
                                <input v-if="search=='left'" class="search" v-model="searchField" placeholder={{ 'form.common.two-side-multiselect.search' | trans | raw }}></input>
                                <select id="optionsDeselected" class="multiselect" v-model="selectedItemsLeft" multiple>
                                    <option v-for="option in optionsDeselected" :value="option.id">{{ '{{ ' }}option.name{{ ' }}' }}</option>
                                </select>
                            </div>
                            <div class="col-2" v-bind:style="buttonMargin">
                                <div>
                                    <button
                                        type="button"
                                        id="select-all"
                                        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                        @click="selectAll"
                                    >
                                        {{ 'form.common.two-side-multiselect.select-all' | trans | raw }}
                                    </button>
                                </div>
                                <div>
                                    <button
                                        type="button"
                                        id="select"
                                        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                        @click="select(selectedItemsLeft)"
                                    >
                                        {{ 'form.common.two-side-multiselect.select' | trans | raw }}
                                    </button>
                                 </div>
                                <div>
                                <button
                                    type="button"
                                    id="deselect"
                                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                    @click="deselect(selectedItemsRight)"
                                >
                                    {{ 'form.common.two-side-multiselect.deselect' | trans | raw }}
                                </button>
                                </div>
                                <div>
                                <button
                                    type="button"
                                    id="deselect-all"
                                    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                    @click="deselectAll"
                                >
                                    {{ 'form.common.two-side-multiselect.deselect-all' | trans | raw }}
                                </button>
                                </div>
                            </div>
                            <div class="col-7" v-bind:style="rightMargin">
                                <label for="optionsSelected">{{ '{{ ' }}rightLabel{{ '}}' }}</label>
                                <select id="optionsSelected" class="multiselect" v-model="selectedItemsRight" multiple>
                                    <option v-for="option in optionsSelected" :value="option.id">{{ '{{ ' }}option.name{{ ' }}' }}</option>
                                </select>
                            </div>
                            <div v-for="option in optionsSelected">
                                <input type="text"
                                       style="display:none;"
                                       :key="option.id"
                                       :name="object+'[' + field + '][' + option.id + ']'"
                                       :value="option.id"
                                >
                            </div>
                    </fieldset>
                </div>
                    `
        });
    </script>
{% endblock %}