{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    <nav class="mainnav">
        {{- block('list') -}}
    </nav>
{% endblock root  %}

{% block list %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        <ul{% if item.name == 'root' %} class="navigation"{% endif %}{{ knp_menu.attributes(listAttributes) }}>
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock list %}

{% block item %}
    {% if item.displayed %}
        {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
        {%- if matcher.isCurrent(item) %}
            {%- set classes = classes|merge([options.currentClass]) %}
        {%- elseif matcher.isAncestor(item, options.matchingDepth) %}
            {%- set classes = classes|merge([options.ancestorClass]) %}
        {%- endif %}
        {% if item.hasChildren and options.depth is not same as(0) %}
            {% if options.branch_class is not empty and item.displayChildren %}
                {%- set classes = classes|merge([options.branch_class]) %}
            {% endif %}
        {% elseif options.leaf_class is not empty %}
            {%- set classes = classes|merge([options.leaf_class]) %}
        {%- endif %}

        {%- set attributes = item.attributes %}
        {%- if classes is not empty %}
            {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
        {%- endif %}
        {% import 'knp_menu.html.twig' as knp_menu %}
        <li{{ knp_menu.attributes(attributes) }}>
            {%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
                {{ block('linkElement') }}
            {%- else %}
                {{ block('spanElement') }}
            {%- endif %}
            {{ block('list') }}
        </li>
    {% endif %}
{% endblock item %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {%- set linkAttributes = item.linkAttributes %}
    {% if linkAttributes.title is defined %}
        {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
        {%- set linkAttributes = linkAttributes|merge({'title': linkAttributes.title | trans(item.extra('translation_params', {}), translation_domain)}) -%}
    {% endif %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(linkAttributes) }}>{{ block('label') }}{% if item.hasChildren %}<span class="more">»</span>{% endif %}</a>
{% endblock linkElement %}

{% block label %}
    {{ block('icon') }}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- set label = item.label -%}
    {%- if translation_domain is not same as(false) -%}
        {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- endif -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif -%}
{% endblock label %}

{% block icon %}
    {% if item.extras.icon is defined %}
        <img src="{{ asset('default/' ~ item.extras.icon) }}"/>
    {% endif %}
{% endblock icon %}