{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.email-template.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/email_template/form.html.twig') }}
{% endblock %}
