{% block formContent %}
    <div id="emailTemplateFormContainer">
        {{ form_start(emailTemplateForm) }}
        {{ form_row(emailTemplateForm._token) }}
        <div class="row">
            <fieldset>
                <ul class="horizontalforms">
                    <li class="col-8">
                        {{ form_row(emailTemplateForm.name) }}
                    </li>
                    <li class="col-8">
                        {{ form_row(emailTemplateForm.description) }}
                    </li>
                    <li class="col-8">
                        {{ form_row(emailTemplateForm.emailSender) }}
                    </li>
                    <li class="col-8">
                        {{ form_row(emailTemplateForm.subject) }}
                    </li>
                    <li class="col-16" style="margin-top: 1cm">
                        <div style="width: 50%">
                            {{ form_label(emailTemplateForm.body) }}
                        </div>
                        <div class="col-12" style="margin-left: 20%">
                            {{ form_widget(emailTemplateForm.body) }}
                        </div>
                        {{ form_errors(emailTemplateForm.body) }}
                    </li>
                </ul>
            </fieldset>
        </div>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button" onclick="window.location.href='{{ path('app_administration_emailtemplate_index') }}'">
                            {{ 'common.elements.dialog.button.cancel' | trans }}
                        </button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.email-template.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(emailTemplateForm) }}
    </div>
{% endblock %}
