{% extends 'layout-datatable.html.twig' %}

{% block datatableTitle %}{{ 'administration.email-template.search-results.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogTitle %}{{ 'administration.email-template.delete.dialog.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogBody %}{{ 'administration.email-template.delete.confirmation' | trans }}{% endblock %}
