{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.validityperiod.edit.dialog.title' | trans }}{% endblock %}


{% block formContent %}
    {{ include('administration/validity_period/form.html.twig') }}
{% endblock %}
