{% block formContent %}
    <div id="validityPeriodFormContainer">
        {{ form_start(validityPeriodForm) }}
        {{ form_row(validityPeriodForm._token) }}
        <fieldset>
            <div class="col-8">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(validityPeriodForm.name) }}
                    </li>
                    <li>
                        {{ form_row(validityPeriodForm.fromDate) }}
                    </li>
                    <li>
                        {{ form_row(validityPeriodForm.toDate) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_validityperiod_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.validityperiod.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(validityPeriodForm) }}
    </div>
{% endblock %}
