{% extends 'layout-datatable.html.twig' %}

{% block datatableTitle %}{{ 'administration.validityperiod.search-results.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogTitle %}{{ 'administration.validityperiod.delete.dialog.title' | trans }}{% endblock %}

{% block deleteConfirmationDialogBody %}{{ 'administration.validityperiod.delete.confirmation' | trans }}{% endblock %}