{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.customergroup.add.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/customer_group/form.html.twig') }}
{% endblock %}
