{% block formContent %}
    <div id="customerGroupFormContainer">
        {{ form_start(customerGroupForm) }}
        {{ form_row(customerGroupForm._token) }}
        <fieldset>
            <div class="col-8">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(customerGroupForm.name) }}
                    </li>
                    <li>
                        {{ form_row(customerGroupForm.code) }}
                    </li>
                    <li>
                        {{ form_row(customerGroupForm.ageFrom) }}
                    </li>
                    <li>
                        {{ form_row(customerGroupForm.ageTo) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_customergroup_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.customergroup.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(customerGroupForm) }}
    </div>
{% endblock %}
