{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.region.add.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/region/form.html.twig') }}
{% endblock %}