{% block formContent %}
    <div id="regionFormContainer">
        {{ form_start(regionForm) }}
        {{ form_row(regionForm._token) }}
        <fieldset>
            <div class="col-8 center">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(regionForm.name) }}
                    </li>
                    <li>
                        {{ form_row(regionForm.code) }}
                    </li>
                    <li>
                        {{ form_row(regionForm.costUnitName) }}
                    </li>
                    <li>
                        {{ form_row(regionForm.costUnitCode) }}
                    </li>
                    <li>
                        {{ form_row(regionForm.concessionId) }}
                    </li>
                    <li>
                        {{ form_row(regionForm.webshopRegion) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_region_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.region.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(regionForm) }}
    </div>
{% endblock %}