'columnDefs':  [
    {% for index, column in sg_datatables_view.columnBuilder.columns %}
        {% if column.columnType == constant('Sg\\DatatablesBundle\\Datatable\\Column\\AbstractColumn::MULTISELECT_COLUMN') %}
            {
                targets: {{ index }},
                stateSave: false,
                checkboxes: {
                    selectRow: true,
                    stateSave: false
                }
            }
        {% endif %}
    {% endfor %}
]