{% extends 'layout-page-with-form.html.twig' %}

{% block formTitle %}{{ 'administration.price-period.edit.dialog.title' | trans }}{% endblock %}

{% block formContent %}
    {{ include('administration/price_period/form.html.twig') }}
{% endblock %}
