{% block formContent %}
    <div id="pricePeriodFormContainer">
        {{ form_start(pricePeriodForm) }}
        {{ form_row(pricePeriodForm._token) }}
        <fieldset>
            <div class="col-8">
                <ul class="horizontalforms">
                    <li>
                        {{ form_row(pricePeriodForm.name) }}
                    </li>
                    <li>
                        {{ form_row(pricePeriodForm.fromDate) }}
                    </li>
                    <li>
                        {{ form_row(pricePeriodForm.toDate) }}
                    </li>
                </ul>
            </div>
        </fieldset>
        <div class="row">
            <fieldset class="actions">
                <ul class="inlineforms">
                    <li>
                        <button type="button"
                                onclick="window.location.href='{{ path('app_administration_priceperiod_index') }}'">{{ 'common.elements.dialog.button.cancel' | trans }}</button>
                    </li>
                    <li>
                        <button type="submit" class="confirmation">
                            {{ 'administration.saleperiod.form.submit' | trans }}
                        </button>
                    </li>
                </ul>
            </fieldset>
        </div>
        {{ form_end(pricePeriodForm) }}
    </div>
{% endblock %}
